<div class="bloc-search-bar">
  <fxt-search-bar (selectionChanged)="onSelectionChanged($event)" [tags]="tags"></fxt-search-bar>
</div>
<div class="bloc-map">
  <fxt-google-map [buildings]="buildingsInMap" [selectedDate]="selectedDate" [users]="usersInMap"
    (infoWindowItemClicked)="goToDetail($event)"
    (clusteringend)="onClusteringend()" [mapPins]="mapPinsInMap" [highlightUserIds]="highlightUserIds">
  </fxt-google-map>

  <div class="toggle-neonomad" *ngIf="isNeoNomadLayerEnabled">
    <label for="">{{ 'main.neonomad_layer' | transloco }}</label>
    <fxt-switch [(ngModel)]="showMapPins" (ngModelChange)="toggleShowMapPins()" class="fxt-switch-design-margin">
    </fxt-switch>
  </div>

</div> 