@import "abstracts/variables";

%span-icon {
  font-size: 24px;
  display: flex;
  justify-content: center;
}

:host {
  .manager-user-row {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: $color-white;
    height: 48px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 15px;
    border-left: 4px solid transparent;

    &.can-edit {
      border-left: 4px solid $main-color;
    }

    > span {
      min-width: 100px;
    }

    .day {
      cursor: pointer;
    }

    span.checkbox-confirm {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 50px;
    }

    span.team {
      height: 30px;
      border-radius: 16px;
      min-width: 165px;
      max-width: 165px;
      display: flex;
      align-items: center;
      white-space: nowrap;

      &-empty {
        @extend .team;
        background-color: transparent;
      }

      ::ng-deep fxt-chip {
        max-width: 150px;
        .fxt-chip {
          max-width: 100%;
        }
        .name {
          font-size: 14px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    span.user {
      flex-grow: 2;
      display: flex;
      align-items: center;
      // max-width: 190px;
      overflow: hidden;
      text-overflow: ellipsis;

      .avatar {
        vertical-align: baseline;
        margin-right: 26px;
        border-radius: 50%;
        width: 32px;
      }

      .name-role {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        flex-grow: 1;
        max-height: 40px;

        &.not-onboarded {
          cursor: pointer;
        }

        span.name {
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        span.role {
          color: $grey-color32;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 250px;
        }
      }
    }

    span.home {
      @extend %span-icon;
    }

    span.check {
      @extend %span-icon;
      text-align: center;
      font-size: 1.3rem;
      background-color: #00c4b4;
      color: #fff;
      width: 30px;
      height: 30px;
      line-height: 29px;
      margin-top: 0.5rem;
    }

    span.checked {
      background-color: #444;
    }

    span.day-icon {
      @extend %span-icon;

      .disabled {
        color: $color-grey;
      }
    }
  }
}

@media (max-width: 1280px) {
  :host {
    .manager-user-row {
      .user {
        max-width: 190px;
      }
    }
  }
}
