@import "abstracts/variables";
@import "abstracts/mixins";

.btn-export-xls {
    color: rgba(0, 0, 0, 0.48);
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    @include hover-active-btn;
  }

.errormessage {
  background-color: #FEEFB3;
  border-color: #ffeeba;
  color: #9F6000;
  border-radius: 5px;
  padding: 5px;
}

.successmessage {
  background-color: #DFF2BF;
  color: #4F8A10;
  border-radius: 5px;
  padding: 5px;
}