<fxt-dropdown-invite-user [authProvider]="authProvider" (addSingleUserClicked)="addOrEditUser()"
  (importMultipleUserClicked)="importMultipleUser()">
</fxt-dropdown-invite-user>

<ngx-datatable class="bootstrap striped" [rows]="rows" [columnMode]="ColumnMode.force" [headerHeight]="50"
  [footerHeight]="50" [rowHeight]="45" [externalPaging]="true" [count]="page.totalCount" [offset]="page.pageNumber"
  [limit]="page.pageSize" (page)="setPage($event, oldSortProp, oldSortOrder)" [loadingIndicator]="loading"
  [externalSorting]="true" (sort)="onSort($event)">
  <ngx-datatable-column *ngFor="let column of columns" [name]="column.name | transloco" [prop]="column.prop"
    [pipe]="column.pipe" [sortable]="column.sortable" [cellTemplate]="column.cellTemplate"
    [cellClass]="column.cellClass" [headerClass]="column.headerClass">
  </ngx-datatable-column>
</ngx-datatable>

<ngx-datatable-column name="action" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"
  cellClass="column-actions">
  <ng-template ngx-datatable-header-template> </ng-template>
  <ng-template let-row="row" ngx-datatable-cell-template>
    <div>
      <div title="Resend onboarding" (click)="resendOnboardingLink(row)" class="btn btn-rounded-action">
        <i class="far fa-paper-plane"></i>
      </div>
      <div class="btn btn-rounded-action" (click)="edit(row)">
        <i class="far fa-pencil"></i>
      </div>
      <div class="btn btn-rounded-action" (click)="remove(row)">
        <i class="far fa-trash-alt"></i>
      </div>
    </div>
  </ng-template>
</ngx-datatable-column>

<div *ngIf="errorMessage" class="errormessage" [innerHTML]="errorMessage">
</div>

<div *ngIf="successMessage" class="successmessage" [innerHTML]="successMessage">
</div>

<ng-template #dateTmp let-row="row" let-value="value">
  <span>{{ value | date: formatDateTime }}</span>
</ng-template>

<ng-template #chipTmp let-row="row" let-value="value">
  <ng-container *ngIf="row.coreTeam">
    <fxt-chip [item]="{ name: row.coreTeam, isHierarchy: true, type: 0 }" [selected]="true">
    </fxt-chip>
  </ng-container>
</ng-template>