:host {
  ul {
    li:not(.disabled) {
      cursor: pointer;
    }

    li.disabled {
      opacity: 0.5;
    }

    li.import-ms {
      display: flex;
      align-items: center;
      padding-left: 1.5rem;

      >a {
        padding-left: 0.5rem;
      }
    }
  }
}