<div class="btn-group" dropdown>
  <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
    aria-controls="dropdown-animated">
    {{'main.add_new_user' | transloco}} <span class="caret"></span>
  </button>
  <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
    <li role="menuitem">
      <a class="dropdown-item" (click)="addSingleUserClicked.emit()">{{'main.add_single_user' | transloco}}</a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" (click)="importMultipleUserClicked.emit()">{{'main.add_multiple_user' | transloco}}</a>
    </li>
    <li class="import-ms" [class.disabled]="authProvider !== AuthProviderEnum.Microsoft" role="menuitem"
      [tooltip]="'organization.import_microsoft_directory_tooltip' | transloco"
      [isDisabled]="authProvider == AuthProviderEnum.Microsoft" placement="bottom">
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21">
        <title>MS-SymbolLockup</title>
        <rect x="1" y="1" width="9" height="9" fill="#f25022" />
        <rect x="1" y="11" width="9" height="9" fill="#00a4ef" />
        <rect x="11" y="1" width="9" height="9" fill="#7fba00" />
        <rect x="11" y="11" width="9" height="9" fill="#ffb900" />
      </svg>
      <a class="dropdown-item" (click)="onImportDirectoryClicked()">{{'organization.import_microsoft_directory' |
        transloco}}</a>
    </li>
  </ul>
</div>