<div class="bloc">

  <div class="d-flex justify-content-between">
    <div class="line">
      <span>{{ 'main.first_name' | transloco }}</span>
      <span>{{user.firstName}}</span>
    </div>

    <div class="line">
      <span>{{ 'main.last_name' | transloco }}</span>
      <span>{{user.lastName}}</span>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div class="line">
      <span>{{ 'main.display_name' | transloco }}</span>
      <span>{{user.fullName}}</span>
    </div>

    <div class="line">
      <span>{{ 'main.email' | transloco }}</span>
      <span>{{user.email}}</span>
    </div>
  </div>

  <div class="line" *ngIf="!user.isOnboarded">
    <span>
      {{ 'main.not_onboarded' | transloco }}
    </span>
  </div>

  <div class="line" *ngIf="isCurrentUser">
    <span>
      {{ 'main.password' | transloco }}
      <span class="btn-rounded-action icon" (click)="openModalChangeBasicInformations()">
        <i class="far fa-pencil"></i>
      </span>
    </span>
    <span>********</span>
  </div>

</div>

<hr *ngIf="isCurrentUser">

<div class="bloc" *ngIf="isCurrentUser">
  <div class="title">
    <span><i class="fas fa-address-book"></i>&nbsp;Addresses</span>
  </div>
  <div class="line">
    <span>{{ 'main.address' | transloco }} 1</span>
    <span>{{user.metadata.address1}}</span>
  </div>

  <div class="line">
    <span>{{ 'main.address' | transloco }} 2</span>
    <span>{{user.metadata.address2}}</span>
  </div>

  <div class="line">
    <span>{{ 'main.address' | transloco }} 3</span>
    <span>{{user.metadata.address3}}</span>
  </div>

  <div class="line">
    <span>{{ 'main.address' | transloco }} 4
      <span class="btn-rounded-action icon" (click)="openAddressModal()"><i class="far fa-pencil"></i></span>
    </span>
    <span>{{user.metadata.address4}}</span>
  </div>
</div>
