<div class="page-container">
  <section class="register">
    <h3>
      <img class="logo" [src]="logoImg" alt="" />
    </h3>
    <div class="content">
      <div class="kids mb-3 mt-3 text-center">
        <img [src]="imgStep2" alt="">
        <div class="slide mt-4">
          <span class="first"><i class="fas fa-circle"></i></span>
          <span class="sec"><i class="fas fa-circle"></i></span>
        </div>
      </div>
      <form [formGroup]="form">
        <div class="form-group">
          <div class="label">{{'main.password' | transloco}}</div>
          <input
            class="form-control"
            formControlName="password"
            type="password"
            [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched}"
          >
          <div *ngIf="f.password.errors && f.password.touched" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">
              {{ "main.password_is_required" | transloco }}
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="label">{{'main.confirm_password' | transloco}}</div>
          <input class="form-control" formControlName="confirmPassword" type="password">
          <div *ngIf="f.confirmPassword.errors && f.confirmPassword.touched" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">
              {{ "main.confirmPassword_is_required" | transloco }}
            </div>
          </div>
          <div [ngClass]="{'d-block': form.hasError('notSame')}" class="invalid-feedback">
            <div>
              {{ "main.confirmPassword_not_match" | transloco }}
            </div>
          </div>
        </div>

        <div class="mb-3 mt-3">
          <button [disabled]="form.invalid || success" (click)="submit()" class="btn btn-primary w-100 fxt-button">
            {{ "main.send" | transloco }}
          </button>
        </div>

        <div
          *ngIf="error_code !== ''"
          class="alert alert-warning"
          role="alert"
        >
          {{('RESET_PASSWORD.' + error_code) | transloco}}
          <a routerLink="/login" [queryParams]="{email: email}" class="c-pointer">{{'main.here' | transloco}}</a>
        </div>
      </form>

      <div class="copyright text-center">
        <p>© 2022 Flexteam</p>
      </div>
    </div>
  </section>
</div>
