a.btn-slack {
  align-items: center;
  color: #000;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 44px;
  display: inline-flex;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 44px;
  justify-content: center;
  text-decoration: none;
  width: 204px;
}

.actions {
  max-width: 150px;
}
