<app-accordeon-profile title="{{ 'profile.basic_informations' | transloco }}" icon="fas fa-user-cog">

  <fxt-profile-block-info title="{{ 'main.first_name' | transloco }}">
    <div class="collapse-text">{{user.firstName}}</div>
  </fxt-profile-block-info>

  <fxt-profile-block-info title="{{ 'main.last_name' | transloco }}">
    <div class="collapse-text">{{user.lastName}}</div>
  </fxt-profile-block-info>

  <fxt-profile-block-info title="{{ 'main.display_name' | transloco }}">
    <div class="collapse-text">{{user.fullName}}</div>
  </fxt-profile-block-info>

  <fxt-profile-block-info title="{{ 'main.email' | transloco }}">
    <div class="collapse-text">{{user.email}}</div>
  </fxt-profile-block-info>

  <fxt-profile-block-info title="{{ 'main.password' | transloco }}" (iconClicked)="openModal()" [showIcon]="true">
    <div class="collapse-text">********</div>
  </fxt-profile-block-info>

  <fxt-profile-block-info title="{{ 'main.language' | transloco }}">
    <div class="actions">
      <ng-select [items]="availableLanguages" bindLabel="name" bindValue="value" [clearable]="false"
        [searchable]="false" [ngModel]="selectedLanguage" (ngModelChange)="changeLang($event)">
      </ng-select>
    </div>
  </fxt-profile-block-info>

</app-accordeon-profile>

<app-accordeon-profile title="{{ 'profile.job_informations' | transloco }}" icon="fas fa-briefcase">
  <fxt-profile-block-info title="{{ 'profile.core_team' | transloco }}">
    <div class="collapse-text">{{user.coreTeamName}}</div>
  </fxt-profile-block-info>

</app-accordeon-profile>

<app-accordeon-profile title="{{ 'profile.contact_informations' | transloco }}" icon="fas fa-bell-on">
  <fxt-profile-block-info title="{{ 'profile.slack' | transloco }}">
    <div class="collapse-text">
      <span class="action toggle btn">
        <a class="btn-slack" (click)="connectToSlack()"><svg xmlns="http://www.w3.org/2000/svg"
            style="height:16px;width:16px;margin-right:12px" viewBox="0 0 122.8 122.8">
            <path
              d="M25.8 77.6c0 7.1-5.8 12.9-12.9 12.9S0 84.7 0 77.6s5.8-12.9 12.9-12.9h12.9v12.9zm6.5 0c0-7.1 5.8-12.9 12.9-12.9s12.9 5.8 12.9 12.9v32.3c0 7.1-5.8 12.9-12.9 12.9s-12.9-5.8-12.9-12.9V77.6z"
              fill="#e01e5a"></path>
            <path
              d="M45.2 25.8c-7.1 0-12.9-5.8-12.9-12.9S38.1 0 45.2 0s12.9 5.8 12.9 12.9v12.9H45.2zm0 6.5c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9H12.9C5.8 58.1 0 52.3 0 45.2s5.8-12.9 12.9-12.9h32.3z"
              fill="#36c5f0"></path>
            <path
              d="M97 45.2c0-7.1 5.8-12.9 12.9-12.9s12.9 5.8 12.9 12.9-5.8 12.9-12.9 12.9H97V45.2zm-6.5 0c0 7.1-5.8 12.9-12.9 12.9s-12.9-5.8-12.9-12.9V12.9C64.7 5.8 70.5 0 77.6 0s12.9 5.8 12.9 12.9v32.3z"
              fill="#2eb67d"></path>
            <path
              d="M77.6 97c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9-12.9-5.8-12.9-12.9V97h12.9zm0-6.5c-7.1 0-12.9-5.8-12.9-12.9s5.8-12.9 12.9-12.9h32.3c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9H77.6z"
              fill="#ecb22e"></path>
          </svg>{{'profile.connect_your_slack' | transloco}}</a>
      </span>
    </div>
  </fxt-profile-block-info>

</app-accordeon-profile>

<app-accordeon-profile title="Addresses" icon="fas fa-address-book">
  <fxt-profile-block-info title="{{ 'main.address' | transloco }} 1">
    <div class="collapse-text">{{metadata.address1}}</div>
  </fxt-profile-block-info>

  <fxt-profile-block-info title="{{ 'main.address' | transloco }} 2">
    <div class="collapse-text">{{metadata.address2}}</div>
  </fxt-profile-block-info>

  <fxt-profile-block-info title="{{ 'main.address' | transloco }} 3">
    <div class="collapse-text">{{metadata.address3}}</div>
  </fxt-profile-block-info>

  <fxt-profile-block-info title="{{ 'main.address' | transloco }} 4" [showIcon]="true" (iconClicked)="openAddressModal()">
    <div class="collapse-text">{{metadata.address4}}</div>
  </fxt-profile-block-info>

</app-accordeon-profile>