<ng-container *transloco="let t; read: 'profile'">
  <app-accordeon-profile [title]="t('my_favorites')" icon="fas fa-pen" *transloco="let t; read: 'profile'">

    <fxt-profile-block-info *ngIf="favoriteColleagues">

      <div class="title title-favorite">{{t('my_favorite_colleagues')}}
        <span class="rounded-circle c-pointer user-add" (click)="togglePanelAddUser()">
          <i class="fas fa-user-plus"></i>
        </span>
      </div>

      <div class="members">
        <div [collapse]="!showPanelAddUser" [isAnimated]="true">
          <fxt-add-user-team [team]="favoriteTeam" (added)="onUserAdded($event)">
          </fxt-add-user-team>
        </div>
      </div>

      <div class="users">
        <ng-container *ngFor="let user of favoriteColleagues;trackBy:trackByFn">
          <fxt-chip [item]="user" image="{{user?.tinyPicture}}" [selected]="true" [removable]="true"
            (onCrossClick)="removeUser(user)">
          </fxt-chip>
        </ng-container>
      </div>

    </fxt-profile-block-info>

    <fxt-profile-block-info [title]="t('my_week')">
      <fxt-row-prefered-week [user]="user" (updatePreferedWeekFailed)="onUpdatePreferedWeekFailed($event)"
      [halfDayEnabled]="false">
      </fxt-row-prefered-week>
    </fxt-profile-block-info>

  </app-accordeon-profile>

  <app-accordeon-profile [title]="t('my_team_contract')" icon="fas fa-wrench fa-flip-horizontal">
    <fxt-profile-block-info [title]="t('validation_period')" icon="fa-question-circle">
      <div class="collapse-text">{{ t('days_in_advance', { dayValidationPeriod: dayValidationPeriod }) }}</div>
    </fxt-profile-block-info>
  </app-accordeon-profile>

  <app-accordeon-profile [title]="'sub menu'">
    <div class="collapse-text">sub menu 1</div>
    <div class="collapse-text">sub menu 2</div>
  </app-accordeon-profile>
</ng-container>


<ng-template #loader>
  <div class="loader">
    <fxt-spinner></fxt-spinner>
  </div>
</ng-template>