<div class="bloc-search-bar" *ngIf="!modeModal">
  <fxt-search-bar (selectionChanged)="onSelectionChanged($event)" [tags]="tags"></fxt-search-bar>
</div>

<div class="bloc-content" [class.mode-modal]="modeModal">

  <div class="bloc-offices">
    <fxt-manager-map-card-office [office]="item" [selectedDate]="selectedDate"
      [isDeskBookingEnabled]="isDeskBookingEnabledOnFloor"
      [isFloatingReservationsEnabled]="isFloatingReservationsEnabled" [floor]="selectedFloor"
      [occupationState]="occupationState" [currentUser]="currentUser" [userSeats]="userSeats"
      [halfDayEnabled]="isHalfDaysEnabled"
      [timeslotTemplates]="timeslotTemplates"
      (officeClicked)="onOfficeSelected($event)" (userClicked)="openUserProfilePopup($event)"
      (inviteClicked)="onInviteOfficeClicked($event)" 
      *ngFor="let item of offices"></fxt-manager-map-card-office>

    <ng-container *ngIf="!isDeskBookingEnabledOnFloor">
      <fxt-manager-map-card-meeting-room *ngFor="let mt of meetingRooms" [meetingRoom]="mt"
        (clicked)="onMeetingRoomClicked($event)">
      </fxt-manager-map-card-meeting-room>
    </ng-container>

  </div>

  <div class="bloc-map">
    <span [ngClass]="{disabled: disablePrev}" class="fxt-btn-action round up btn-navigator" (click)="prevFloor()"><i
        class="fas fa-chevron-up"></i></span>
    <div class="map-wrapper" *ngIf="selectedFloor">
      <fxt-detail-seats [userSeats]="userSeats" [floorId]="selectedFloor?.id"
        [meetingRooms]="meetingRoomsHavingCoordinates" [highlightUserIds]="highlightUserIds"
        [selectedDate]="selectedDate" (bookClicked)="onBookSeatClicked($event)"
        [currentDayStatus]="currentDayStatus"
        (inviteClicked)="onInviteSeatClicked($event)" [occupationState]="occupationState">
      </fxt-detail-seats>
    </div>
    <span [ngClass]="{disabled: disableNext}" class="fxt-btn-action round down btn-navigator" (click)="nextFloor()"><i
        class="fas fa-chevron-down"></i></span>
  </div>
</div>