<div class="app-manager-stats">

  <div class="middle-content">

    <div class="bloc-times">
      <div class="calendar-wrapper">
        <span class="left-arrow mr-3" (click)="prev()"><i class="fas fa-chevron-left"></i></span>
        <span class="calendar"><span class="icon mr-2"><i class="fas fa-calendar-alt"></i></span>{{periodText}}</span>
        <span class="right-arrow ml-3" (click)="next()"><i class="fas fa-chevron-right"></i></span>
      </div>
    </div>

    <div class="bloc-nav"></div>

    <div class="bloc-tabs">
      <div class="tab" [class.active]="filter?.viewType == enum" *ngFor="let enum of tabs;" (click)="selectTab(enum)">
        {{'stats.view_types.' + enum | transloco }}
      </div>
    </div>

    <div class="bloc-chart">
      <div class="loader" *ngIf="loading$ | async">
        <fxt-spinner></fxt-spinner>
      </div>

      <fxt-stats-chart
        [chartData]="chartData"
        [isDaily]="isDaily"
        [forWorkforce]="forWorkforce"
        [forPersonalLogin]="forPersonalLogin"
        [targetDate]="targetDate"
        [periodText]="periodText"></fxt-stats-chart>
    </div>

    <div class="bloc-actions" [style.visibility]="(!isDaily && !forPersonalLogin) ? 'visible': 'hidden'">
      <span class="btn-export-xls" (click)="exportXls()"><i class="far fa-download"></i> {{ 'manager.export_xls' | transloco }}</span>
    </div>

  </div>

</div>