<div class="container">
  <div class="wrapper">
    <h5 class="modal-question-title">
      {{ "plan.office_occupancy" | transloco }}
    </h5>
    <div class="modal-question-body">
      <div><img [src]="load75" alt="load-75%" /></div>
      <div><img [src]="load25" alt="load-25%" /></div>
      <div><img [src]="load50" alt="load-50%" /></div>
      <div>
        <img [src]="officeIcon" alt="ofice-icon" />
      </div>
    </div>
    <div class="modal-question-footer">
      <div class="icon"><i class="fas fa-info-circle"></i></div>
      <div>
        <p>{{ "plan.visualize_office_occupancy" | transloco }}</p>
      </div>
    </div>
  </div>
</div>
