@import "abstracts/variables";

.wrapper {
  display: flex;
  flex-direction: column;
}

.modal-question-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  margin-bottom: 12px;
}

.modal-question-body {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.modal-question-footer {
  display: flex;
  align-items: center;
  margin-top: 14px;

  .icon {
    margin-right: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .col-9 {
    padding: 0 5px;
  }

  i {
    font-size: 22px;
    color: #2f80ed;
  }

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: $color-helper;
    margin: 0;
  }
}
