<div class="data">
  <ng-container *ngIf="workingPolicies; else loader">
    <ngx-datatable class="bootstrap striped" [rows]="workingPolicies" [columnMode]="ColumnMode.force"
      [headerHeight]="50" [footerHeight]="50" [rowHeight]="45" [externalPaging]="false">

      <ngx-datatable-column *ngFor="let column of columns" [name]="column.name | transloco" [prop]="column.prop"
        [pipe]="column.pipe" [sortable]="column.sortable" [cellTemplate]="column.cellTemplate"
        [cellClass]="column.cellClass">
      </ngx-datatable-column>

      <ngx-datatable-column name="Action" [sortable]="false" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" cellClass="column-actions">
        <ng-template ngx-datatable-header-template> </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="d-flex justify-content-end">
            <div (click)="showProfileModal(row)" class="btn btn-rounded-action">
              <i class="far fa-pencil"></i>
            </div>
            <div (click)="tryDelete(row)" class="btn btn-rounded-action"><i class="far fa-trash-alt"></i>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </ng-container>

</div>

<div class="add-profile text-center">

  <span (click)="getExcelUsersAndProfile()" class="btn-export-xls"><i
      class="far fa-download"></i>&nbsp;{{'organization.xls_export_users' | transloco}}</span>

  <button (click)="showProfileModal()" class="btn" data-toggle="button">
    <span><i class="far fa-plus"></i></span>&nbsp;
    <span>{{'organization.add_profile' | transloco}}</span>
  </button>
</div>

<ng-template #loader>
  <div class="loader">
    <fxt-spinner></fxt-spinner>
  </div>
</ng-template>

<ng-template #checkTmp let-row="row" let-value="value">
  <span *ngIf="value" style="color:#029c55;"><i class="fas fa-check"></i></span>
</ng-template>