input.filter {
  padding: 8px;
  margin: 15px auto;
  width: 40%;
}

.actions {
  display: flex;
  column-gap: 10px;
  justify-content: flex-end;
  > span {
    cursor: pointer;
  }
}

:host ::ng-deep .datatable-body-row.active .datatable-row-group {
  background-color: #f55b1d !important;
}
