<h5>{{'manager.invitation_come_to_office' | transloco }}: {{data.targetDate | date: formatDate }} - {{data.office.name}}</h5>



<div *ngIf="data.seat">{{'main.seat' | transloco }}: <strong>#{{data.seat.name }} - {{data.office.name}}</strong></div>
<div *ngIf="!data.seat">{{'main.office' | transloco }}: <strong>{{data.office.name}}</strong></div>
<div>{{'main.invitee' | transloco }}: <strong>{{selectedUser?.email}}</strong></div>
<fxt-add-user-team [team]="team" (selected)="onUserSelected($event)">
</fxt-add-user-team>

<div><i>{{'manager.invitation_come_to_office_info' | transloco }}</i></div>

<div class="actions">
  <button class="btn btn-light btn-cancel" (click)="close(null)">
    <span class="no">{{ "main.cancel" | transloco }}</span>
  </button>
  <button [disabled]="!selectedUser?.email" class="btn btn-primary" (click)="confirm()">
    <span class="yes">{{ "main.invite" | transloco }}</span>
  </button>
</div>
