:host {
  .actions {
    margin-top: 16px;
    display: flex;
    column-gap: 16px;
    justify-content: flex-end;

    button {
      width: 120px;

      &.btn-cancel {
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }
}