@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  .search-bar {
    padding: 1px;
    font-size: 14px;

    &.opened {
      .search-container {
        .search-input {
          border-radius: 8px 8px 0 0;

          input.form-control {
            border-bottom: solid 1px #c4c4c4;
            border-radius: 0;
          }

          .search-icon {
            opacity: 0;
          }
        }
      }
    }

    .search-container {
      position: relative;

      .suggestions {
        background-color: #fff !important;
        max-height: 400px;
        overflow-y: auto;
        position: absolute;
        min-height: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        color: rgba(0, 0, 0, 0.48);
        z-index: 1000;
      }

      .results {
        padding: 15px;
        display: flex;
        flex-direction: row;
        column-gap: 8px;

        > div {
          display: flex;
          flex-direction: column;
          row-gap: 8px;
          min-width: 150px;

          .title {
            font-weight: bold;
          }

          .items {
            padding-left: 8px;
            padding-right: 8px;
            display: flex;
            flex-direction: column;
            row-gap: 8px;

            > div {
              cursor: pointer;
              padding: 4px 8px;
              @include hover-active-btn();
            }
          }
        }

        > .users {
          flex-grow: 2;

          .user-row {
            display: flex;
            align-items: center;
            justify-content: stretch;

            .name {
              flex-grow: 2;
            }
          }
        }
      }

      .suggestions-button {
        background-color: #fff !important;
        padding: 8px;
        padding-bottom: 0;
        span {
          color: rgba(0, 0, 0, 0.48);
          padding: 5px 15px;
          cursor: pointer;
          width: fit-content;
          @include hover-active-btn();
        }
      }
    }
    .search-input {
      display: flex;
      align-items: center;

      padding: 1px;

      position: relative;

      background-color: #fff;
      // height: 32px;
      border-radius: 30px;
      padding-left: 15px;
      column-gap: 15px;

      justify-content: space-between;

      .clear {
        position: absolute;
        right: 50px;
        opacity: 0.5;
        cursor: pointer;

        &.active {
          opacity: 1;
          cursor: pointer;
        }
      }

      .value {
        flex-grow: 2;
        display: flex;
        align-items: center;
        column-gap: 8px;
        flex-wrap: wrap;
      }

      span.search-icon {
        background-color: $main-color;
        width: 30px;
        min-width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: $sec-color;
      }

      .tag {
        white-space: nowrap;
        height: 16px;
        border-radius: 16px;
        font-size: 10px;
        display: flex;
        align-items: center;
        column-gap: 4px;
        padding: 0 6px;
        background-color: rgba(0, 0, 0, 0.04);
        &.team {
          background-color: #ffbbbb;
        }

        .icon {
          margin-top: 1px;
          cursor: pointer;
        }
      }

      span.bars {
        color: rgba(0, 0, 0, 0.32);
        font-size: 12px;
      }

      input.form-control {
        padding: 0 1rem;
        padding-left: 0;
        height: 28px;
        border: none;
        font-size: 14px;
        width: auto;
        flex-grow: 2;

        &:focus {
          box-shadow: none !important;
        }
      }
    }

    .groups {
      width: calc(100% - 4rem);
      // height: 38px;
      margin-top: 12px;
      margin-left: 2rem;

      display: flex;
      align-items: center;
      overflow-x: auto;
      column-gap: 10px;

      span {
        color: $grey-color32;
        background-color: #fff;
        padding: 0.6rem 0.8rem;
        font-weight: bold;
        font-size: 12px;

        &.slider {
          cursor: pointer;
        }

        &:not(.slider) {
          padding: 0.5rem 1rem;
          border-radius: 25px;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          -o-border-radius: 25px;
        }

        &.item {
          cursor: pointer;
          height: 34px;
          white-space: nowrap;
          &.selected {
            background-color: rgba(0, 0, 0, 0.08);
          }
        }
      }
    }
  }
}
