<div class="container">
    <form [formGroup]="verifyTokenForm" autocomplete="off">
        <div class="form-group">
            <label for="txtToken">Enter Token:</label>
            <input type="text" class="form-control" placeholder="Token" formControlName="token"
                [ngClass]="{ 'is-invalid': f.token.errors && f.token.touched}">
                <div *ngIf="f.token.errors && f.token.touched" class="invalid-feedback">
                  <div *ngIf="f.token.errors.required">
                       Token is required
                  </div>
                </div>
            <button [ngStyle]="{'cursor': verifyTokenForm.invalid ? 'not-allowed' : 'pointer' }" class="btn  btn-secondary mt-3" [disabled]="verifyTokenForm.invalid" (click)="finishTask()">
                Submit
            </button>
        </div>
    </form>
</div>
