@import "abstracts/variables";

.fxt-meeting-scheduler {
	background-color: $color-white;
	.header {
		height: 200px;
		max-height: 200px;
		width: 100%;

		img {
			height: 100%;
			width: 100%;
		}
	}

	.title {
		.capacity {
			color: $color-helper;
		}
	}

	.info {
		padding: 16px 0;

		h6 {
			margin: 0;
			position: relative;
			cursor: pointer;
			.fa-sort-up,
			.fa-sort-down {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		ul {
			margin-top: 1rem;
		}
	}

	.scheduler-wrapper {
		height: 300px;
		width: 100%;
		margin-top: 16px;
		fxt-scheduler {
			width: 100%;
		}

		.loader {
			width: 100%;
			text-align: center;
		}
	}
}
