<div class="halfday-toggle" *ngIf="halfDayEnabled && canEdit">
  <span class="mr-2 no-wrap">{{'main.half_day' | transloco}}</span>
  <fxt-switch [(ngModel)]="modeHalfDay" (ngModelChange)="onHalfDayChanged($event)">
  </fxt-switch>
</div>

<ng-container *ngFor="let timeslot of timeslots; let timeslotIndex= index;">

  <div class="change-location-row">

    <div class="change-location-wrapper confirmation-wrapper" [class.not-confirmed]="!isConfirmed"
      [class.readonly]="!canEdit"
      *ngIf="selectedLocations[timeslotIndex] && !disableConfirm && selectedLocations[timeslotIndex]?.name !== 'question'">
      <span *ngIf="!isConfirmed && canEdit && !modeHalfDay"
        (click)="confirmOrOpenModalMetadata(timeslotIndex)">{{'main.confirm' | transloco}}</span>
      <span class="name" *ngIf="selectedSeats[timeslotIndex] && selectedLocations[timeslotIndex]?.inOffice"
        (click)="onSeatClicked(timeslotIndex)" title="Click to view map">
        &#35;{{selectedSeats[timeslotIndex].name}}
      </span>
      <span class="name" *ngIf="!selectedSeats[timeslotIndex]" (click)="confirmOrOpenModalMetadata(timeslotIndex)">
        {{selectedLocations[timeslotIndex]?.address}}
      </span>

      <fxt-location-status [item]="selectedLocations[timeslotIndex]" [disableUnconfirmed]="true"
        (click)="confirmOrOpenModalMetadata(timeslotIndex)">
      </fxt-location-status>

    </div>

    <div class="change-location-wrapper" *ngIf="canEdit" [class.unable-edit]="!canEdit">
      <ng-container *ngIf="trigger === LocationChangedTriggerEnum.PreferedWeek; else locationsWithoutPopover">
        <ng-container *ngFor="let loc of availableLocations[timeslotIndex];">
          <fxt-location-status [item]="loc" [disableUnconfirmed]="true" #popOffices="bs-popover"
            [popover]="panelOfficesTmp" [popoverContext]="{timeslotIndex: timeslotIndex, timeslot: timeslot }"
            container="body" [placement]="'top'" containerClass="popover-offices-wrapper"
            [isOpen]="selectedLocations[timeslotIndex]?.inOffice &&  loc.inOffice" triggers=""
            (click)="onLocationClicked(loc, timeslotIndex)"
            [selected]="selectedLocations[timeslotIndex]?.name === loc.name">
          </fxt-location-status>
        </ng-container>
      </ng-container>

      <ng-template #locationsWithoutPopover>
        <fxt-location-status *ngFor="let loc of availableLocations[timeslotIndex];" [item]="loc"
          [disableUnconfirmed]="true" (click)="onLocationClicked(loc, timeslotIndex)">
        </fxt-location-status>
      </ng-template>

      <div class="hours" *ngIf="modeHalfDay">
        <span>{{timeslot.label}}</span>
      </div>
    </div>

  </div>

</ng-container>

<ng-template #locTemplateRef let-location="loc" let-parent="locParent" let-timeslot="timeslot"
  let-timeslotIndex="timeslotIndex">

  <div class="fxt-location-item level-{{location.hierarchyLevel}}"
    (click)="selectOffice(location, parent, timeslotIndex, $event)"
    [class.selected]="selectedLocations[timeslotIndex]?.id == location.id">

    <fxt-location-status *ngIf="location.hierarchyLevel != null && location.hierarchyLevel != HierarchyLevelEnum.Office"
      [item]="location" [disableUnconfirmed]="true" [selected]="selectedLocations[timeslotIndex]?.id == location.id"
      [disabled]="location.hierarchyLevel != null && location.hierarchyLevel != HierarchyLevelEnum.Office">
    </fxt-location-status>

    <span class="title">{{location.address}}</span>
    <span class="seat" *ngIf="location.hierarchyLevel === HierarchyLevelEnum.Office">
      {{location.actualLoad[dayIndex][timeSlotTemplatesByDay[timeslotIndex].id]}}/{{location.maxPerson}}</span>
  </div>

  <ng-container *ngIf="location.children.length > 0">
    <ng-template ngFor let-child [ngForOf]="location.children">
      <ng-template [ngTemplateOutlet]="locTemplateRef" [ngTemplateOutletContext]="{loc: child, locParent: location,
           timeslotIndex: timeslotIndex, timeslot: timeslot}">
      </ng-template>
    </ng-template>
  </ng-container>

</ng-template>

<ng-template #panelOfficesTmp let-timeslotIndex="timeslotIndex" let-timeslot="timeslot">
  <div
    *ngIf="selectedLocations[timeslotIndex]?.inOffice && canEdit && trigger === LocationChangedTriggerEnum.PreferedWeek">
    <ng-container *ngFor="let location of buildings">
      <ng-container
        *ngTemplateOutlet="locTemplateRef; context: {loc: location, timeslotIndex:timeslotIndex,timeslot:timeslot}">
      </ng-container>
    </ng-container>
  </div>
</ng-template>