<div class="fxt-manager-office-card-floor-wrapper" [class.selected]="selected" aria-pressed="false">

  <div class="dropdown-card" dropdown #dropdown="bs-dropdown" (clickOutside)="dropdown.hide()" container="body">
    <span (click)="dropdown.toggle(true);" class="elipsis" aria-haspopup="true" aria-expanded="false">
      <i class="far fa-ellipsis-v"></i>
    </span>
    <div class="dropdown-menu" *dropdownMenu role="menu">
      <div class="dropdown-item px-3" (click)="edit.emit(floor);dropdown.hide();">
        <i class="fas fa-align-left mr-2"></i>
        {{'manager.edit' | transloco}}
      </div>
    </div>
  </div>

  <div class="manager-office-card" (click)="select.emit(floor)">
    <div class="title">
      <span class="floor-name">{{floor.name}}</span>
    </div>

    <div class="info">
      <div class="capacity">
        <div class="label">{{'manager.capacity' | transloco}}</div>
        <div>{{floor.capacity}}</div>
      </div>
      <div class="load">
        <div class="label">{{'manager.allowed_load' | transloco}}</div>
        <div>{{floor.capacity}}</div>
      </div>
    </div>
  </div>

  <div class="indicator-selected"></div>

</div>