@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  .user-schedule {
    position: relative;
    .header-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      padding: 0 16px;

      .left-arrow,
      .right-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        font-size: 14px;
        color: $color-black;
        height: 32px;
        width: 32px;
        background: $grey-color08;
        cursor: pointer;
        border-radius: 50%;
        &:hover {
          background-color: $grey-color12;
        }
        &:active {
          background-color: $grey-color16;
        }
      }
      .center {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 600;
      }
    }
    .header-days {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
      align-items: center;
      gap: 20px;
      padding: 0 16px;
      .day {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        flex: 1;
        text-align: center;
        font-size: 10px;
        color: $grey-color50;
      }
    }

    .container-schedule {
      padding: 8px 16px 16px 16px;
      .panel {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .row-days {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
          align-items: center;
          gap: 20px;
        }
      }
    }

    .footer {
      padding: 0 16px;
      .text {
        font-weight: 600;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.3);
        span {
          color: rgba(0, 0, 0, 0.8);
        }
      }
      .days {
        display: flex;
        flex-wrap: wrap;
        font-weight: 600;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.8);
        column-gap: 5px;

        > span {
          padding: 8px;
          background: #fafafa;
          box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
          border-radius: 16px;
          gap: 4px;
        }
      }
    }

    .host-panel-location {
      position: absolute;
      z-index: 1000;
    }
  }
}
