<!-- <div class="progress-bar" [style.width.%]="actualPage / maxPage * 100"></div> -->

<div class="btn-back" (click)="back()" [style.visibility]="(actualPage > 1) ? 'visible': 'hidden'" >
  <i class="fas fa-chevron-left"></i>&nbsp;{{'main.back' | transloco}}
</div>

<div class="parent" [style.width]="(maxPage * 100) + '%'"
  [style.transform]="'translateX(' + -(actualPage- 1)/ (maxPage) *100 + '%)'">

  <div>
    <ng-container *ngIf="actualPage == 1">
      <fxt-first-step (navigate)="navigateTo($event)"></fxt-first-step>
    </ng-container>
  </div>

  <div>
    <ng-container *ngIf="actualPage == 2">
      <fxt-second-step (navigate)="navigateTo($event)"></fxt-second-step>
    </ng-container>
  </div>

</div>
