@import "abstracts/mixins";

:host {
  display: flex;
  align-items: center;
  column-gap: 4px;
  width: 100%;

  .btn-launch-picker {
    // filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.12));
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.32);
    background-color: #fff;
    font-weight: bold;
    height: 32px;
    width: 32px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include hover-active-btn;
  }

  .bloc-chips {
    display: flex;
    align-items: center;
    overflow-x: auto;
    column-gap: 4px;
    padding: 5px;

    // -ms-overflow-style: none; /* IE and Edge */
    // scrollbar-width: none; /* Firefox */

    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }
}
