<div class="user-profile">
    <form [formGroup]="createForm" autocomplete="off" style="margin: 10px 20px">
      <!--UserName-->
      <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right">
                <label class="font-weight-bold" for="txtEmail">UserName</label>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Enter UserName" formControlName="username"
                [ngClass]="{ 'is-invalid': f.username.errors && f.username.touched}">
                <div *ngIf="f.username.errors && f.username.touched" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">
                       Username is required
                  </div>
                </div>
            </div>
        </div>  
      </div>
  
      <!--Email Address-->
      <!-- <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right">
                <label class="font-weight-bold" for="txtEmail">Email Address</label>
            </div>
            <div class="col-md-10">
                <input type="email" class="form-control" placeholder="Enter Email Address" formControlName="email"
                [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched}">
                <div *ngIf="f.email.errors && f.email.touched" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required; else invalidEmail">
                    {{ "main.email_is_required" | transloco }}
                    </div>
                    <ng-template #invalidEmail>
                    {{ "main.email_is_invalid" | transloco }}
                    </ng-template>
                </div>
            </div>
        </div>
      </div> -->

      <!--Password-->
      <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right">
                <label class="font-weight-bold" for="txtEmail">Password</label>
            </div>
            <div class="col-md-10">
                <input (keyup)="onKeyUp($event)" type="password" class="form-control" placeholder="Enter Password" formControlName="password"
                [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched }">
                <div *ngIf="f.password.errors && f.password.touched" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">
                      Password is required
                  </div>
                  <!-- <div *ngIf="f.confirmPassword.errors.match_error && f.password.errors.match_error">
                    Password is not match
               </div> -->
              </div>
            </div>
        </div>  
      </div>

      <!--Confirm Password-->
      <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right">
                <label class="font-weight-bold" for="txtEmail">Confirm Password</label>
            </div>
            <div class="col-md-10">
                <input type="password" class="form-control" placeholder="Enter Confirm Password" formControlName="confirmPassword"
                [ngClass]="{ 'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched}">
                <div *ngIf="f.confirmPassword.errors && f.confirmPassword.touched" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">
                      Confirm Password is required
                  </div>
                  <div *ngIf="f.confirmPassword.errors.match_error">
                    Password is not match
                </div>
              </div>
            </div>
        </div>  
      </div>

      <!--Name-->
      <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right">
                <label class="font-weight-bold" for="txtName">Name</label>
            </div>
            <div class="col-md-10">
                <input id="txtName" class="form-control" placeholder="Enter Name"
                formControlName="name" autocomplete="false"
                [ngClass]="{ 'is-invalid': f.name.errors && f.name.touched}" />
                <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">
                      Name is required
                    </div>
                </div>
            </div>
        </div>
      </div>

      <!--Balance-->
      <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right">
                <label class="font-weight-bold" for="txtBalance">Balance</label>
            </div>
            <div class="col-md-10">
                <input type="number" id="txtBalance" class="form-control" placeholder="Enter Balance" formControlName="balance" autocomplete="false" />
            </div>
        </div>
      </div>
  
      <!--Gender-->
      <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right">
                <label class="font-weight-bold" for="ddlGender">Gender</label>
            </div>
            <div class="col-md-10">
                <ng-select placeholder="Select Gender" formControlName="genderId" appendTo="body" [items]="genders" bindLabel="name" bindValue="id" [clearable]="false"
                     [searchable]="false" [ngClass]="{ 'is-invalid': f.genderId.errors && f.genderId.touched}">
                </ng-select>
                <div *ngIf="f.genderId.touched && f.genderId.errors" class="invalid-feedback">
                    <div *ngIf="f.genderId.errors.required">
                          Gender is required
                    </div>
                </div>
            </div>
        </div>
      </div>

      <!--Role-->
      <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right">
                <label class="font-weight-bold" for="ddlRole">Role</label>
            </div>
            <div class="col-md-10">
                <ng-select placeholder="Select Role" formControlName="roleId" appendTo="body" [items]="roles" bindLabel="name" bindValue="id" [clearable]="false"
                    [searchable]="false" [ngClass]="{ 'is-invalid': f.roleId.errors && f.roleId.touched}">
                </ng-select>
                <div *ngIf="f.roleId.touched && f.roleId.errors" class="invalid-feedback">
                    <div *ngIf="f.roleId.errors.required">
                          Role is required
                    </div>
                </div>
            </div>
        </div>
      </div>

      <!--Level-->
      <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right">
                <label class="font-weight-bold" for="ddlRole">Level</label>
            </div>
            <div class="col-md-10">
                <ng-select placeholder="Select Level" formControlName="levelId" appendTo="body" [items]="levels" bindLabel="name" bindValue="id" [clearable]="false"
                    [searchable]="false" [ngClass]="{ 'is-invalid': f.levelId.errors && f.levelId.touched}">
                </ng-select>
                <div *ngIf="f.levelId.touched && f.levelId.errors" class="invalid-feedback">
                  <div *ngIf="f.levelId.errors.required">
                        Level is required
                  </div>
              </div>
            </div>
        </div>
      </div>
  
      <!--Phone-->
      <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right">
                <label class="font-weight-bold" for="txtPhone">Phone</label>
            </div>
            <div class="col-md-10">
                <input id="txtPhone" class="form-control" placeholder="Enter Phone"
                    formControlName="phone" autocomplete="false"
                [ngClass]="{ 'is-invalid': f.phone.errors && f.phone.touched}" />
              <div *ngIf="f.phone.touched && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">
                  Phone is required
                </div>
                <div *ngIf="f.phone.errors.pattern">
                  Phone must be from 10 - 15 numbers
                </div>
              </div>
            </div>
        </div>
      </div>
  
      <!--Address-->
      <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right">
                <label class="font-weight-bold" for="txtAddress">Address</label>
            </div>
            <div class="col-md-10">
                <textarea id="txtAddress" class="form-control" placeholder="Enter Address" rows="2" formControlName="address">
                </textarea>
            </div>
        </div>
      </div>

      <!--Button Save-->
      <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right">
                
            </div>
            <div class="col-md-10 text-right">
                <button [ngStyle]="{'cursor': createForm.invalid ? 'not-allowed' : 'pointer' }" class="btn  btn-primary" [disabled]="createForm.invalid" (click)="createUser()">
                    Save
                </button>
                <button type="button" class="btn btn-secondary ml-3" (click)="gotoListUser()">Back</button>
            </div>
        </div>
      </div>
    </form>
</div>
  
  <ng-template #popTemplate>
    <div class="user-profile-menu" (clickOutside)="onHostClick($event)">
      <ng-container *ngFor="let item of teamInfos">
        <div (click)="addOrRemoveUser(item)">
          <span *ngIf="item.userAlreadyIn">{{'manager.remove_from' | transloco}}&nbsp;</span>
          <span *ngIf="!item.userAlreadyIn">{{'manager.add_to' | transloco}}&nbsp;</span>
          <strong>{{item.name}}</strong>
        </div>
      </ng-container>
    </div>
  </ng-template>