<div class="manager-sidebar sidebar text-center">
  <a class="logo text-center">
    <!-- <img src="assets/images/logos/F_Logo_White-01.png" width="100%"> -->
    <img src="assets/images/logos/F_Logo_White-01.png" width="100%">
  </a>

  <div class="user role text-left pl-1 d-flex c-pointer position-relative">
    <fxt-avatar [popover]="popTemplate" triggers="click" #pop="bs-popover" [outsideClick]="true" placement="right"
      class="c-pointer mr-1" [id]="currentUser?.id" [imageSrc]="currentUser?.avatar" [initial]="currentUser?.name" [size]="60">
    </fxt-avatar>
    
    <div class="center-notifications">
      <fxt-center-notifications></fxt-center-notifications>
    </div>
  </div>

  <ul class="dashboard">
    <li class="font-weight-bold" style="color: white;" [routerLink]="'dashboard'" routerLinkActive="active" (click)="this.isShowUserMenu = false; this.isShowTaskMenu = false;">
      <span class="mr-2">
        <i class="fas fa-th-large"></i>
      </span> {{'main.dashboard' | transloco}}
    </li>

    <!-- User Menu -->
    <li *ngIf="isShowUsers" (click)="showSubenuUser()" class="font-weight-bold" style="color: white;">      
      <span class="mr-2">
        <i class="fas fa-user-alt"></i>
      </span> Users
      <span class="text-right w-100">
        <i *ngIf="isShowUserMenu" style="top: 2px; position: relative;" class="fa fa-chevron-down" aria-hidden="true"></i>
        <i *ngIf="!isShowUserMenu" style="top: 2px; position: relative;" class="fa fa-chevron-right" aria-hidden="true"></i>
      </span>
    </li>

    <li class="font-weight-bold" *ngIf="isShowUserMenu" [routerLink]="'list-user'" routerLinkActive="active" style="margin-left: 16px; margin-top: -10px; color: white;">
         <span class="mr-2">List User</span>
    </li>

    <li class="font-weight-bold" *ngIf="isShowUserMenu" [routerLink]="'create-user'" routerLinkActive="active" style="margin-left: 16px; margin-top: -10px; color: white;">
      <span class="mr-2">Create User</span>
    </li>

    <!-- Task Menu -->
    <li class="font-weight-bold" style="color: white;" (click)="showSubenuTask()">
      <span class="mr-2">
        <i class="fas fa-tasks"></i>
      </span> Tasks
      <span class="text-right w-100">
        <i *ngIf="isShowTaskMenu" style="top: 2px; position: relative;" class="fa fa-chevron-down" aria-hidden="true"></i>
        <i *ngIf="!isShowTaskMenu" style="top: 2px; position: relative;" class="fa fa-chevron-right" aria-hidden="true"></i>
      </span>
    </li>

    <li class="font-weight-bold" *ngIf="isShowTaskMenu" [routerLink]="'list-task'" routerLinkActive="active" style="margin-left: 16px; margin-top: -10px; color: white;">
      <span class="mr-2">List Task</span>
    </li>

    <li class="font-weight-bold" *ngIf="isShowTaskMenu && isShowAddTask" [routerLink]="'add-task'" routerLinkActive="active" style="margin-left: 16px; margin-top: -10px; color: white;">
      <span class="mr-2">Create Task</span>
    </li>

  </ul>
</div>

<ng-template #popTemplate>
  <fxt-manager-popover-menu [user]="currentUser" (actionClicked)="pop.hide()">
  </fxt-manager-popover-menu>
</ng-template>