<div class="core-team">
  <div class="title-team m-1">{{'user_profile.core_team' | transloco}}</div>
  <div class="d-flex flex-wrap">
    <fxt-chip *ngFor="let coreTeam of coreTeamSelectionItems" [item]="coreTeam" [selected]="true" class="mr-1 pb-1">
    </fxt-chip>
  </div>
</div>

<div *ngIf="groupTeams.length">
  <div class="title-team m-1">{{'user_profile.teams_groups' | transloco}}</div>
  <div class="d-flex flex-wrap">
    <fxt-chip *ngFor="let team of groupTeams" [item]="team" [selected]="true" class="mr-1 pb-1">
    </fxt-chip>
  </div>
</div>

<ng-container *ngIf="canEditWorkingProfile">
  <div class="title-team m-1">{{'user_profile.work_profile' | transloco}}</div>
  <div class="form-group">
    <ng-select appendTo="body" [(ngModel)]="selectedWorkingPolicyId" (change)="tryUpdateWorkingPolicy($event)"
      [clearable]="false">
      <ng-option value="">{{'user_profile.no_working_policy_selected' | transloco}}</ng-option>
      <ng-option *ngFor="let wp of workingPolicies" [value]="wp.id">{{wp.name}}</ng-option>
    </ng-select>
  </div>
</ng-container>