::ng-deep {
    .datatable-header-cell.avatar {
        width: 100px !important;
    }

    .datatable-body-cell.avatar {
        width: 100px !important;
    }

    .datatable-header-cell.name {
        width: 200px !important;
    }

    .datatable-body-cell.name {
        width: 200px !important;
    }

    .datatable-header-cell.email {
        width: 220px !important;
    }

    .datatable-body-cell.email {
        width: 220px !important;
    }

    .datatable-header-cell.phone {
        width: 150px !important;
    }

    .datatable-body-cell.phone {
        width: 150px !important;
    }

    .datatable-header-cell.role {
        width: 100px !important;
    }

    .datatable-body-cell.role {
        width: 100px !important;
    }

    .datatable-header-cell.gender {
        width: 100px !important;
    }

    .datatable-body-cell.gender {
        width: 100px !important;
    }

    .datatable-header-cell.balance {
        width: 120px !important;
    }

    .datatable-body-cell.balance {
        width: 120px !important;
    }

    .datatable-header-cell.status {
        width: 100px !important;
    }

    .datatable-body-cell.status {
        width: 100px !important;
    }

    .datatable-header-cell.action {
        width: 80px !important;
    }

    .datatable-body-cell.action {
        width: 80px !important;
    }
}

