<div class="office-card" [class.selected]="selected" aria-pressed="false" [class.mode-desk]="modeDesk">
  <div class="btn-group office-card__dropdown" dropdown #dropdown="bs-dropdown" container="body" *ngIf="canEdit">
    <span dropdownToggle class="elipsis" aria-haspopup="true" aria-expanded="false">
      <i class="far fa-ellipsis-v"></i>
    </span>
    <div class="dropdown-menu" *dropdownMenu role="menu">
      <div (click)="archive.emit(office); dropdown.hide();" class="dropdown-item px-3">
        <i class="far fa-trash-alt"></i>
        {{'manager.archive' | transloco}}
      </div>
      <div (click)="edit.emit(office); dropdown.hide();" class="dropdown-item px-3 c-pointer">
        <i class="far fa-pencil"></i>
        {{'manager.edit' | transloco}}
      </div>
    </div>
  </div>

  <div (click)="onCardClicked($event)">
    <div class="image overflow-hidden" [class.no-image]="!office.contextualPicture">
      <img *ngIf="office.contextualPicture" [src]="office.contextualPicture" alt="">
    </div>

    <div class="office-info">
      <div class="title">
        {{office.name}}
        &nbsp;<i *ngIf="office.type === OfficeTypeEnum.MeetingRoom" class="fas fa-users icon-link"></i>
        &nbsp;<i *ngIf="office.msUniqueId || office.googleUniqueId" class="fas fa-link icon-link"></i>
      </div>

      <div class="details" *ngIf="!modeDesk">
        <div class="label">{{'manager.capacity' | transloco}}</div>
        <div class="capacity pr-1">{{office.capacity}}</div>
      </div>

      <div class="details" *ngIf="office.type == OfficeTypeEnum.Normal && modeDesk">
        <div class="label">{{'manager.desks' | transloco}}</div>
        <div class="capacity d-flex align-items-center pr-1">
          <span>{{office.seats.length}}</span>
        </div>
      </div>

      <div [collapse]="!showListSeats" [isAnimated]="true" *ngIf="modeDesk">
        <div class="seats-wrapper" *ngIf="office.type == OfficeTypeEnum.Normal" (mouseleave)="seatHovered.emit(null)">
          <ng-container *ngFor="let seat of office.seats">
            <span class="seat-item" (mouseenter)="seatHovered.emit([seat])"
              (click)="seatClicked.emit(seat)">{{seat.name}}</span>
          </ng-container>
          <span class="fxt-btn-action" (click)="onAddSeatClicked($event)" (mouseenter)="seatHovered.emit(null)">
            <i class="far fa-plus"></i>&nbsp;{{'manager.add_desk' | transloco}}
          </span>
        </div>

        <div class="seats-wrapper" *ngIf="office.type == OfficeTypeEnum.MeetingRoom
        && !office.coordinate">
          <span class="fxt-btn-action" (click)="onAddSeatClicked($event)">
            <i class="far fa-plus"></i>&nbsp;{{'manager.place_on_map' | transloco}}
          </span>
        </div>

      </div>

    </div>

  </div>
</div>