<div class="building p-3">
  <div class="wrapper">
    <h5 class="new">
      <span *ngIf="data?.id">{{'organization.edit_working_status' | transloco}}</span>
      <span *ngIf="!data?.id">{{'organization.add_new_status' | transloco}}</span>
    </h5>
    <form [formGroup]="form">
      <div class="name-location">
        <div class="form-row">

          <div class="bloc-name">
            <label for="" class="name">
              <span>{{'main.name' | transloco}}</span>
            </label>
            <input type="text" class="form-control" formControlName="address"
              [placeholder]="'main.status_name' | transloco">
            <span [style.color]="form.controls.color.value" [ngClass]="{
              'border': !form.controls.name.value && !showErrBorder,
              'error-border': !form.controls.name.value && showErrBorder
            }" class="btn-icon-picker btn-rounded-action" [popover]="popTemplate" [outsideClick]="true" placement="bottom"
              #pop="bs-popover">
              <i class="fas fa-{{form.controls.name.value}}"></i>
            </span>
          </div>

        </div>

        <div class="d-flex align-items-baseline mt-2">
          <input type="checkbox" formControlName="isRemoteWork" class="mr-1" />
          <label for="">{{'organization.remote_work' | transloco}}</label>
        </div>

      </div>

      <div class="buttons">
        <button type="button" class="btn btn-light" (click)="cancel()" [disabled]="pop.isOpen">
          {{'main.cancel' |transloco}}
        </button>
        <button type="button" class="btn btn-primary create mr-0" (click)="ok()"
          [disabled]="form.invalid || pop.isOpen">
          {{data?.id ? ('main.update' | transloco): ('main.create' | transloco)}}
        </button>
      </div>
    </form>
  </div>
</div>
<ng-template #popTemplate>
  <fxt-palette-icon (selected)="onIconSelected($event)" [color]="form.controls.color.value"
    [icon]="form.controls.name.value"></fxt-palette-icon>
</ng-template>