<div class="about-us mt-4">
    <div class="title">
        Behind the name
    </div>
    <div class="content mt-4 container">
        <div>
            Founded in 2001 by Rudy van Thiel Sr. and his sons, Rudy Jr. & Frederik, 
            VAN THIEL & CO. actually began more than 40 years ago, when Rudy Sr. 
            would ride from town to town in his Dutch homeland with antiques strapped 
            to his bicycle. Always on the lookout for great sources of inspiration 
            and intrigued by the stories he would hear, he’d study every detail 
            of each piece he found for creative insight. Since then, Rudy and his 
            sons have drawn inspiration from all over the world, growing VAN THIEL & CO. 
            into a large, high-end furniture source, which they recently moved from 
            its initial location in Beijing to the rising global market of Vietnam.
        </div>
        <div class="mt-4">
            From sourcing the European countryside and hand-picking antiques 
            one at a time to developing their own distinctive designs for 
            furniture retailers worldwide, the van Thiel family now has a 
            name synonymous with authenticity, partnership, supreme craftsmanship 
            and innovation. This appreciation for history, culture and the 
            stories that make each piece distinctive enables VAN THIEL & CO. 
            to approach creative design, finish development and sourcing in a way 
            that captivates the imagination.
        </div>
        <div class="mt-4">
            Today, VAN THIEL & CO. is a significant creative and sourcing partner to select, high-end furniture retailers across the U.S. and the globe. Their sources employ more than 10,000 people throughout the industry. The VAN THIEL & CO. team cares deeply about how they conduct business and about offering their sources and partners a high level of collaboration and expertise, all of which proudly reflects the VAN THIEL name.
        </div>
        <div class="mt-4">
            Rudy van Thiel Sr. is based in Virginia, USA. He creates product, guides manufacturing and travels the world to meet with clients.
            From Ho Chi Minh City, Rudy van Thiel Jr. leads the management of VAN THIEL & CO., develops and engineers product, and, like his father, travels the world to meet with clients.
        </div>
        <div class="mt-4">
            Daughter Julie Lawrence works with Rudy Sr. in Virginia, leading a small creative team that collaborates every day on new ideas designed specifically for van Thiel clients.
        </div>
        <div class="mt-4">
            Frederik van Thiel and his team carry out value engineering, pricing, quality control and planning.
        </div>
        <div class="mt-4">
            Austrian CFO Matthias Hoedl manages finances.​​
        </div>
        <div class="mt-4">
            Last but not least, VAN THIEL & CO. is proud to offer clients a talented young team of dedicated professionals from around the globe — The Netherlands, Germany, Austria, Hong Kong, France, Italy, Belgium, USA, the Philippines, Vietnam, China and Argentina.
        </div>
    </div>

    <div class="title mt-4">
        Architects of Furniture
    </div>
    <div class="content mt-4 container">
        <div>
            VAN THIEL & CO. is an international furniture designer and sourcing company for a small, select group of retailers in the U.S. and around the world. As Architects of Furniture, our family-owned team manages your most important projects, from the first spark of inspiration to the final product, expertly guiding you throughout the entire, collaborative process. Produced with creativity, care and clockwork precision, the result is a distinctive look that buyers and homeowners love to call their own.
        </div>
        <div class="mt-4">
            At VAN THIEL & CO., we believe that being family-owned is a big driver of our success. When it comes to the people we choose as our partners, we take the same approach, selecting suppliers, distributors and retailers whom we feel would be an outstanding addition to the VAN THIEL & CO. family. Even though our capabilities are that of an extensive international furniture source, we focus on fostering a small group of trusted partners that have their own respected place in the international home furnishings business.
        </div>
    </div>

    <div class="title mt-4">
        Inspecting not just for quality — but style
    </div>
    <div class="content mt-4 container">
        <div>
            Quality control is a pillar of the VAN THIEL & CO. standard of excellence, which is why almost all of our top company leaders reside close to our factories in Vietnam and India. We invest in outstanding quality assurance by personally guiding artisanal and large-volume production. Just as important is to inspect for design, finishing and overall style. We call this “Style QC”: upholding the VAN THIEL standard for striking aesthetics as well as the creative vision that we developed in collaboration with you.
        </div>
    </div>

    <div>
        <div class="mt-4 fs-1 mt-40 float-end">
            “Quality is not an act, it is a habit.”
        </div>
        <div class="float-end fs-2 clearfix">
            Aristotle
        </div>
    </div>
</div>