@import "abstracts/variables";
@import "abstracts/mixins";

.button-actions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn-export-xls {
    color: rgba(0, 0, 0, 0.48);
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    @include hover-active-btn;
  }
}

::ng-deep { 
  hr.errorMessage {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

fxt-avatar {
  cursor: pointer;
}