<div class="container mt-3 categories">
    <div class="row">
        <div *ngFor="let category of categories" class="col-sm-2 col-md-3 col-lg-4 mb-4">
            <div class="card" role="button" (click)="getProductList(category)">
                <img [src]="category.image" class="card-img-top img-fluid" [title]="category.name">
                <div class="card-body">
                  <h5 class="card-title">{{category.name}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>