::ng-deep {
    .datatable-header-cell.task-name {
        width: 300px !important;
    }

    .datatable-body-cell.task-name {
        width: 300px !important;
    }

    .datatable-header-cell.average-completion-time {
        width: 250px !important;
    }

    .datatable-body-cell.average-completion-time {
        width: 250px !important;
    }

    .datatable-header-cell.bid-per-task-completion {
        width: 250px !important;
    }

    .datatable-body-cell.bid-per-task-completion {
        width: 250px !important;
    }

    .datatable-header-cell.document {
        width: 150px !important;
    }

    .datatable-body-cell.document {
        width: 150px !important;
    }

    .datatable-header-cell.linkYoutube {
        width: 150px !important;
    }

    .datatable-body-cell.linkYoutube {
        width: 150px !important;
    }

    .datatable-header-cell.durationOnPage {
        width: 200px !important;
    }

    .datatable-body-cell.durationOnPage {
        width: 200px !important;
    }

    .datatable-header-cell.isActive {
        width: 80px !important;
    }

    .datatable-body-cell.isActive {
        width: 80px !important;
    }

    .datatable-header-cell.createdBy {
        width: 180px !important;
    }

    .datatable-body-cell.createdBy {
        width: 180px !important;
    }

    .datatable-header-cell.action {
        width: 80px !important;
    }

    .datatable-body-cell.action {
        width: 80px !important;
    }
}
