@import "abstracts/variables";
@import "abstracts/mixins";

#select-day {
  padding-top: 22px;
  padding-bottom: 22px;

  header {
    .link-back {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      color: $color-helper;
      margin-bottom: 10px;
      cursor: pointer;

      i {
        margin-right: 7px;
      }
    }

    .nav-by-calendar {
      margin-bottom: 38px;

      h1 {
        margin-bottom: 0;
      }

      div:first-child {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 3px;

        .day {
          font-weight: bold;
          font-size: 25px;
        }
      }
    }
  }

  main {
    .calendar-header {
      @extend %grid-calendar;

      .day {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        flex: 1;
        text-align: center;
        font-size: var(--fxt-calendar-header-font-size);
      }
    }

    .body-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      @include rounded-box;

      border-top: none;

      ::ng-deep .fxt-calendar {
        .calendar-body {
          border-bottom: none;
          border-right: none;
          border-left: none;

          .month-panel {
            .row-week {
              .row-icon {
                min-height: 70px;
              }
            }
          }
        }
      }
    }

    .bloc-you {
      padding: 0 20px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;

        h2 {
          margin-bottom: 0;
        }

        .message {
          font-size: 14px;
          margin-top: 2px;
        }
      }

      ::ng-deep fxt-location-selector {
        .location-dropdown-wrapper {
          @include rounded-box;
        }
      }
    }

    .bloc-selected-status-block {
      padding: 0 20px;

      .title-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .title {
          display: flex;

          >button.btn-question-icon {
            position: relative;
            margin-left: 4px;
          }
        }
      }

      .selected-groups {
        margin-bottom: 20px;
        color: #828282;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;

        align-items: center;

        .group-bookings {
          margin-top: 10px;
          display: flex;
          gap: 4px;
          flex-wrap: wrap;

          img {
            border: 2px solid #ffffff;
          }
        }

        .group-title-icon {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          i {
            font-size: 25px;
            text-align: center;
          }
        }

        .icon-plane {
          font-size: 18px;

          a[href^="mailto:"] {
            color: #999999;
          }
        }

        .address {
          font-size: var(--fxt-text-font-size);
          text-transform: capitalize;
        }
      }

      .footer-search {
        float: right;
        margin-bottom: 10px;

        >i {
          font-size: 20px;
          cursor: pointer;
        }
      }
    }

    .search-bar-wrapper {
      padding: 20px 0;

      .description {
        display: flex;
        justify-content: flex-end;
      }

      ::ng-deep {
        fxt-bloc-chips-person {
          .bloc-chips-container {
            cursor: pointer;
          }
        }
      }
    }
  }

  .btn-envelope {
    @include hover-active-btn();
  }
}

@media (min-width: 400px) and (max-width: 575px) {
  .page-plan-select-day {
    max-width: 535px;
  }
}

@include media-breakpoint-up("small") {
  @include responsive-gt-small-screen-circle-day();
}