<div class="wrapper" [class.mode-halfday]="_users?.length >= 2" [popover]="popTemplate" container="body"
  [containerClass]="disableBook ? 'popover-seat unable-book': 'popover-seat'" [triggers]="popoverTriggers"
  #pop="bs-popover" (onShown)="onPopoverShown($event)" [outsideClick]="true" (onHidden)="onHidden()">
  <ng-container *ngFor="let _user of _users; let first= first; let last = last">
    <fxt-avatar [class.first]="first" [class.last]="last" *ngIf="_user"
      [imageSrc]="_user.id === currentUser?.id ? currentUser.tinyPicture: _user.tinyPicture" [initial]="_user.fullName"
      [size]="16"></fxt-avatar>
  </ng-container>
</div>

<ng-template #popTemplate>
  <div class="card-seat" [class.unable-book]="disableBook" (mouseleave)="onMouseleave()">
    <div class="office">{{seat.office?.name}}</div>
    <div class="name" *ngIf="seat.name">&#35;{{seat.name}}</div>
    <div class="name" *ngIf="!seat.name">{{'main.seat' | transloco}} &#35;{{seat.index}}</div>

    <ul *ngIf="seat.equipments.length > 0;else noEquipement">
      <li *ngFor="let eq of seat.equipments">{{eq}}</li>
    </ul>

    <div class="bloc-amenities d-flex align-items-center justify-content-between" *ngIf="occupationRules?.length > 0">
      <span>{{'manager.rules' | transloco}}</span>
      <span class="btn-rounded-action" (click)="toggleCollapseRule($event)">
        <i *ngIf="isRuleCollapsed" class="fas fa-angle-down"></i>
        <i *ngIf="!isRuleCollapsed" class="fas fa-angle-up"></i>
      </span>
    </div>

    <div class="bloc-rules" *ngIf="!isRuleCollapsed">
      <fxt-chip *ngFor="let item of occupationRules" [item]="item" [hideIcon]="false" [removable]="false"
        [class.is-blocked]="item.occupationType == OccupationTypeEnum.Block"
        [class.is-reserved]="item.occupationType == OccupationTypeEnum.Reserve">
      </fxt-chip>
    </div>

    <div class="halfday-toggle-wrapper" *ngIf="halfDayEnabled && !disableBook">
      <span class="no-wrap mr-2">{{'main.half_day' | transloco}}</span>
      <fxt-switch [(ngModel)]="modeHalfDay" (ngModelChange)="onHalfDayChanged()">
      </fxt-switch>
    </div>

    <div class="actions" *ngIf="modeBook">

      <ng-container *ngFor="let timeslot of timeSlots; let timeSlotIndex = index">

        <span *ngIf="_users[timeSlotIndex] && timeSlotIndex === 0">{{'main.booked_by' | transloco}}: </span>

        <div class="d-flex align-items-center justify-content-between">

          <div class="hours" *ngIf="modeHalfDay">
            <span>{{timeslot.label}}</span>
          </div>

          <ng-container
            *ngIf="selectedDayStatusByTimeslot[timeslot.id] && !selectedDayStatusByTimeslot[timeslot.id].inOffice
          && selectedDayStatusByTimeslot[timeslot.id].selectedRemoteLocation !== notDefinedStatusName && !_users[timeSlotIndex]">
            <fxt-location-status [item]="selectedDayStatusByTimeslot[timeslot.id]">
            </fxt-location-status>
          </ng-container>

          <button *ngIf="!_users[timeSlotIndex] && !disableBook" type="button"
            (click)="onBookClicked(timeSlotTemplates[timeSlotIndex], false, $event)">
            {{'main.book' | transloco}}
          </button>

          <ng-container *ngIf="_users[timeSlotIndex]">

            <fxt-chip class="c-pointer" [item]="_users[timeSlotIndex]" image="{{_users[timeSlotIndex].tinyPicture}}"
              (click)="onChipClicked(timeSlotIndex)"></fxt-chip>

            <button class="btn-rounded-action btn-exit-seat" type="button"
              (click)="onLeaveClicked(_users[timeSlotIndex], timeSlotTemplates[timeSlotIndex], true);pop.hide();"
              *ngIf="canLeaveStates[timeSlotIndex]">
              <i [tooltip]="'main.free_the_desk' | transloco" class="fas fa-sign-out"></i>
            </button>

          </ng-container>

        </div>

      </ng-container>

      <div class="d-flex align-items-center justify-content-between">
        <button *ngIf="!disableBook" type="button" (click)="onInviteClicked(null)">
          {{'main.invite' | transloco}}
        </button>
      </div>

    </div>

    <div class="actions" [class.mode-edit]="modeEdit" *ngIf="modeEdit">
      <button type="button" class="btn btn-primary" (click)="onEditClicked()">{{'main.edit' | transloco}}</button>
      <span class="btn-rounded-action" (click)="onDeleteClicked()">
        <i class="far fa-trash-alt"></i>
      </span>
    </div>


  </div>
</ng-template>

<ng-template #noEquipement>
  <span>
    <em>{{'main.no_amenities' | transloco}}</em>
  </span>
</ng-template>