<div class="middle-content">

  <h1>Companies</h1>
  <fxt-admin-table-companies></fxt-admin-table-companies>
  <hr>

  <h1>Buildings of company {{selectedCompany?.name}} </h1>
  <div *ngIf="!selectedCompany">Please select a company</div>
  <fxt-admin-table-buildings *ngIf="selectedCompany" [company]="selectedCompany" (selected)="selectedBuilding = $event">
  </fxt-admin-table-buildings>

  <h1>Floors of building {{selectedBuilding?.name}} </h1>
  <div *ngIf="!selectedBuilding">Please select a building</div>
  <fxt-admin-table-floors *ngIf="selectedBuilding" [building]="selectedBuilding" (selected)="onFloorChanged($event)">
  </fxt-admin-table-floors>
  <button [disabled]="!floorId" class="btn btn-primary mt-3 mb-2" (click)="fileInput.click()">Upload Architecture</button>
  <button *ngIf="seatArchitecture;" class="btn btn-primary mt-3 ml-2 mb-2" (click)="clickAddSeat()">Add Seat</button>

  <input #fileInput style="display: none;" type="file" accept="image/*" (change)="uploadArchitecture(fileInput.files)">

  <ng-container *ngIf="seatArchitecture; else noSeatArchitectureTmp">
    <fxt-dnd-map-seats [seats]="seatArchitecture.seats" [meetingRooms]="meetingRooms"
      [base64Image]="seatArchitecture.base64Image" 
      (changed)="onMapSeatsChanged($event)"></fxt-dnd-map-seats>
  </ng-container>

  <button *ngIf="seatArchitecture" [disabled]="!hasChanges" (click)="saveChanges()" type="button"
    class="btn btn-primary mt-3">Save changes</button>

</div>

<ng-template #noSeatArchitectureTmp>
  No seat architecture
</ng-template>