@import "abstracts/variables";

$grid-line-color: rgba(0, 0, 0, 0.4);

.middle-content {
  background: white;
  height: 100%;
  padding: 15px;
}

:host {
  .map {
    position: relative;
    padding: 16px;

    fxt-seat,
    fxt-meeting-room {
      position: absolute;
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
