@import 'abstracts/variables';
@import 'abstracts/mixins';

:host {
    .page-selection {
        .col {
            padding: 0;
        }

        .title {
            margin-bottom: 5px;
            align-items: baseline;

            h2 {
                margin-bottom: 0;
            }
            > div {
                position: relative;
                button.btn-question-icon {
                    left: 10px;
                }
            }

            .edit-my-group {
                font-size: 12px;
            }
        }

        .description {
            color: $color-helper;
            margin-bottom: 5px;
            display: flex;
            font-size: 12px;
            line-height: 14px;
            justify-content: space-between;

            .edit-quick-play {
                color: $color-black;
                cursor: pointer;
            }
        }

        .search-container {
            min-height: 40px;
            margin-bottom: 15px;
            // @include rounded-box-shadow;
        }

        .actions {
            display: flex;
            justify-content: space-around;

            button.btn {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 25px;
                color: white;
                padding: 0.2rem 1.3rem;

                &-apply {
                    background-color: $color-blue;
                }

                &-reset {
                    background-color: $color-red;
                }
            }
        }
    }
}
