.product-detail .price {
    font-size: 22px;
}

.product-detail .quantity {
    font-size: 15px;
    padding-right: 5px;
}

.product-detail .description {
    font-family: "Futura-LT-W01-Light";
}

.quantity__order {
    width: 100px !important;
}

.product-detail .addToCart {
    margin-right: 15px;
}

.product-detail .clearCart {
    margin-right: 15px;
    background-color: #e96060;
    border: none;
    outline: none;
}

button.clear__cart {
    outline: none;
}

.modal-body.clear__cart {
    font-size: 17px;
}

@media screen and (max-width: 768px) {
    .wishlist .clearCart, .wishlist .backToList {
        margin-top: 10px;
        margin-right: 15px;
    }
}

@media (max-width: 576px) {
    .wishlist  {
      display: flex;
      flex-direction: column;
    }

    .wishlist span {
        display: inline-block;
        margin-bottom: 10px;
    }

    .wishlist span button {
        width: 100%;
    }

    .wishlist .clearCart {
        margin-right: 0;
    }

    .wishlist .clearCart, .wishlist .backToList {
        margin-top: 0;
        margin-right: 0;
    }
}