.product-detail .price {
    font-size: 22px;
}

.product-detail .quantity {
    font-size: 15px;
    padding-right: 5px;
}

.product-detail .description {
    font-family: "Futura-LT-W01-Light";
}

.quantity__order {
    width: 100px !important;
}

.product-detail .addToCart {
    margin-right: 15px;
}

.product-detail .clearCart {
    margin-right: 15px;
    background-color: #e96060;
    border: none;
    outline: none;
}

button.clear__cart {
    outline: none;
}
