<div class="page-container">
  <div class="bloc bloc-title">
    <h1>{{'onboarding.what_is_your_work_habit' | transloco}}</h1>
  </div>
  <div class="bloc bloc-subtitle">
    <h4>{{'onboarding.define_your_template' | transloco}}</h4>
  </div>

  <div class="bloc bloc-body">
    <div class="locations" *ngFor="let day of days;let index = index">
      <div class="day">{{day}}</div>
      <fxt-location-selector #locationSelector (onToggle)="onToggle($event, index)" [locations]="locations" 
      [selectedDays]="[selectedLocation[index]]"
        (locationClicked)="onChangeLocation(index,$event)"></fxt-location-selector>
    </div>
  </div>

  <div class="bloc bloc-info">
    <h4>{{'onboarding.you_will_be_able_to_modify' | transloco}}</h4>
    <h4>&nbsp;{{'onboarding.later_in_your_profile' | transloco}}</h4>
  </div>

  <div class="bloc bloc-action">
    <button [disabled]="!isAllDefined" type="button" class="btn btn-primary" (click)="navigate.emit(step + 1)">{{'main.confirm' | transloco}}</button>
  </div>

  <div class="bloc bloc-footer">
    {{step}} / {{maxPage}}
  </div>

</div>
