@import "../common";

:host {
  .page-container {
    overflow-y: auto;

    .bloc {
      &-subtitle {
        > h4 {
          text-align: right;
        }
      }
      &-body {
        justify-content: space-around;
        .locations {
          align-items: center;
          width: 100%;

          box-shadow: 0 4.06024px 14.2108px #00000026 !important;
          border-radius: 10px !important;
          padding-left: 15px;
          margin-bottom: 10px;

          .day {
            font-weight: 500;
            font-size: 18px;
            color: #666666;
            min-width: 100px;
            float: left;
            height: 52px;
            line-height: 52px;
            padding-right: 15px;
            text-align: right;
            min-width: 110px;
            text-transform: capitalize;
          }

          ::ng-deep fxt-location-selector {
            flex-grow: 2;
            .location-dropdown-wrapper {
              padding-left: 0 !important;
              padding-right: 0 !important;
            }

            .location-item {
              padding-right: 15px;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up("medium") {
  :host {
    .page-container {
      .locations {

        .day {
          min-width: 100px;
        }

        fxt-location-selector {
          flex-grow: 2;
        }
      }
    }
  }
}
