<div class="page-container">

  <div class="bloc bloc-title">
    <h1>{{'onboarding.create_your_team' | transloco}}</h1>
  </div>




  <div class="bloc bloc-body">

    <form [formGroup]="form">

      <div class="group-form team">
        <div class="label">{{'main.name' | transloco}}</div>
        <input type="text" formControlName="team" placeholder="Equipe bleue">
      </div>

      <div class="helper">{{'onboarding.add_its_members' | transloco}}</div>

      <div class="grid">
        <div class="group-form lastname">
          <div class="label">{{'main.last_name' | transloco}}</div>
          <input type="text" formControlName="lastName" placeholder="Vernon">
        </div>

        <div class="group-form firstname">
          <div class="label">{{'main.first_name' | transloco}}</div>
          <input type="text" formControlName="firstName" placeholder="Arthur">
        </div>

        <button type="button" [disabled]="form.invalid" class="btn btn-primary" (click)="addUser()">
          {{'main.add' | transloco}}
        </button>
        <div class="group-form email">
          <div class="label">{{'main.email' | transloco}}</div>
          <input type="text" formControlName="email" placeholder="Arthur.vernon@tesla.com" [email]="true">
        </div>
      </div>

      <div class="selection">
        <div class="item" *ngFor="let item of hierarchyTeam; trackBy:trackByFn">
          <span (click)="deleteUser(item)"><i class="fas fa-times"></i></span>
          <span class="fullname">{{item.fullName}}</span>
        </div>
      </div>

    </form>


  </div>


  <div class="bloc bloc-info">
    <h4>{{'onboarding.you_can_make_changes' | transloco}}</h4>
    <h4> {{'onboarding.then_your_console_manager' | transloco}}</h4>
  </div>

  <div class="bloc bloc-action">
    <button [disabled]="hierarchyTeam.length == 0" type="button" class="btn btn-primary"
      (click)="confirm()">{{'main.confirm' | transloco}}</button>
  </div>

  <div class="bloc bloc-footer">
    {{step}} / {{maxPage}}
  </div>

</div>
