<div class="manager-block-filters">

  <div class="searchbar-date-wrapper">

    <div class="card-date">
      <div class="week-day">{{todayDay| date:'EEEE':'':locale }}</div>
      <div class="nb-date">{{todayDay| date:'dd':'':locale }}</div>
      <div class="month">{{todayDay| date:'MMMM':'':locale }}</div>
    </div>

    <div class="search-input">
      <fxt-search-bar (selectionChanged)="onSelectionChanged($event)" [tags]="tags"></fxt-search-bar>
    </div>

  </div>

  <div class="calendar-wrapper">
    <span class="left-arrow mr-2" (click)="prev()"><i class="fas fa-chevron-left"></i></span>
    <span class="calendar"><span class="icon mr-2"><i class="fas fa-calendar-alt"></i></span>{{periodText}}</span>
    <span class="right-arrow ml-2" (click)="next()"><i class="fas fa-chevron-right"></i></span>
  </div>

</div>