@import "../../../manager-office-common";

$padding: 16px;

div.building {
  background-color: $main-bg-color;
  border-radius: $padding / 2;
  display: flex;
  flex-direction: column;
  padding: $padding;

  div.name-location {
    margin-bottom: $padding;
    position: relative;

    display: flex;
    flex-direction: row;
    column-gap: $padding;
    align-items: center;

    label {
      margin-bottom: 0;
    }

    input {
      padding-right: $padding;
    }

    .btn-map-picker {
      position: absolute;
      right: $padding / 2;
      top: 32px;
      cursor: pointer;
    }
  }

  .buttons {
    display: flex;
    column-gap: $padding;
    button {
      flex: 1;
    }
  }
}
