<div class="building">
  <h5 class="new">{{data?.id ? 'Edit': 'Add New'}}&nbsp;{{data?.name || 'Building'}}</h5>
  <form [formGroup]="form">

    <div class="name-location">
      <div class="bloc-name">
        <label for="" class="name">{{'main.name' | transloco}}</label>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="bloc-location c-pointer" (click)="openModalGoogleMapSearchBox()">
        <label for="" class="location">{{'main.location' | transloco}}</label>
        <input type="text" class="form-control mr-0 c-pointer" formControlName="location">
        <span class="btn-map-picker" ><i class="far fa-map"></i></span>
      </div>
    </div>

    <div class="buttons">
      <button type="button" class="btn btn-light" (click)="cancel()">{{'main.cancel' | transloco}}</button>
      <button type="button" class="btn btn-primary" (click)="ok()" [disabled]="form.invalid">
        {{data?.id ? 'Edit': 'Create'}}
      </button>
    </div>
  </form>

</div>