<ngx-datatable
  *ngIf="rows.length > 0"
  class="bootstrap striped"
  [rows]="rows"
  [columns]="columns"
  [columnMode]="ColumnMode.force"
  [externalPaging]="true"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="45"
  [count]="page.totalCount"
  [offset]="page.pageNumber"
  [limit]="page.pageSize"
  [selectionType]="SelectionType.multi"
  (page)="setPage($event)"
  [selected]="selected"
>
</ngx-datatable>
<div class="actions mt-3">
  <button (click)="save()" [disabled]="selected.length === 0 || loading" type="submit" class="btn btn-primary">
    <span
      *ngIf="loading"
      class="spinner-border spinner-border-sm mr-1"
    ></span>
    Save
  </button>
</div>