<div class="details-building">
  <div class="name">
    <span><i [ngClass]="'fas fa-' + building.address?.toLowerCase()"></i>
    </span>
    <input #inputName [ngModel]="building.name" class="form-control" type="text">
  </div>
  <div>
    <span>{{ 'manager.location' | transloco }}</span> {{building.location}}
    <span class="btn-map-picker btn-rounded-action" (click)="openModalGoogleMapSearchBox()">
      <i class="far fa-map"></i>
    </span>
  </div>
  <div class="bloc-presence">
    <span>{{ 'manager.presence_list' | transloco }}</span>
    <span class="date" (click)="toggleCalendar()"> <i class="fas fa-calendar-alt"></i> {{selectedDate
      | date: formatDate}}
    </span>
  </div>
  <div class="bloc-load">
    <span>{{ 'manager.load' | transloco }} </span>
    <span [class.overload]="consolidatedActualLoad > building.capacity">
      {{ consolidatedActualLoad }} / {{building.capacity}}
    </span>
    <span (click)="toggleEditMode()" class="btn-rounded-action">
      <i *ngIf="!isEditMode" class="far fa-pencil"></i>
      <i *ngIf="isEditMode" class="fas fa-times"></i>
    </span>
  </div>

  <div class="bloc-floors">
    <ng-container *ngIf="!displayCalendar; else datePickerRef">
      <ng-container *ngFor="let floor of floors">
        <ng-container *ngTemplateOutlet="floorTemplateRef; context: {floor: floor}">
        </ng-container>
      </ng-container>
    </ng-container>

  </div>

  <div class="footer" *ngIf="!loading">
    <button class="btn btn-primary" (click)="exportXls()">
      <i class="far fa-download"></i> {{ 'manager.export_xls' | transloco }}
    </button>

    <button class="btn btn-danger" (click)="archive()">
      <i class="far fa-trash-alt"></i> {{'manager.archive' | transloco}}
    </button>

  </div>

</div>

<ng-template #floorTemplateRef let-floor="floor">
  <div class="row-floor">
    <div class="name" (click)="goToFloor(floor)"><i [ngClass]="'fas fa-' + floor.name.toLowerCase()"></i>
      {{floor.address}}</div>
    <div class="offices">
      <ng-container *ngFor="let office of floor.offices">
        <fxt-manager-office-row-presence-user [office]="office" [isEditMode]="isEditMode" [selectedDate]="selectedDate">
        </fxt-manager-office-row-presence-user>
      </ng-container>
    </div>
  </div>
</ng-template>


<ng-template #datePickerRef>
  <bs-datepicker-inline *ngIf="isDatePickerInitialized; else loader" [bsValue]="selectedDate"
    (bsValueChange)="onBsValueChange($event)" [bsConfig]="bsConfig" [dateCustomClasses]="dateCustomClasses">
  </bs-datepicker-inline>
</ng-template>


<ng-template #loader>
  <div class="loader mt-1">
    <fxt-spinner></fxt-spinner>
  </div>
</ng-template>