@import "abstracts/variables";
@import "abstracts/mixins";

.details-building {
  min-width: 320px;
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .name {
    font-weight: 600;
    input {
      flex: 1;
      text-align: left;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 0;
    }
  }

  > div {
    background-color: $color-white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    min-height: 48px;

    &.bloc-floors {
      display: flex;
      flex-direction: column;
      flex: 2;
      overflow-y: auto;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      min-height: 100px;
      padding: 8px 0px;

      margin-left: -15px;
      margin-right: -15px;

      .row-floor {
        width: 100%;
        > .name {
          padding-left: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
          color: rgba(0, 0, 0, 0.5);
          font-size: 12px;
          cursor: pointer;
        }

        .offices {
          font-size: 14px;
        }
      }
    }

    &.bloc-presence {
      .date {
        color: $main-color;
        cursor: pointer;
      }
    }

    &.bloc-load {
      :nth-child(2) {
        &.overload {
          color: $color-capacity;
        }
      }
    }

    &.footer {
      border: none;
      padding: 16px 0 0px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 8px;
      height: auto;
      min-height: auto;
    }
  }
}

.item-office {
  display: flex;
  align-items: center;
  column-gap: 20px;

  .name {
    display: flex;
    flex-direction: column;
  }
}
