@import "../common";

:host {
  .page-container {
    overflow-y: auto;
    .bloc-body {
      min-height: 136px;
    }
    .bloc-info {
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
      }
    }
  }

  .firstname-lastname {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    justify-content: flex-end;
  }
}
