@import "abstracts/variables";

.fxt-icon-status {
  border-radius: 50%;
  text-align: center;
  height: var(--fxt-icon-status-size);
  width: var(--fxt-icon-status-size);
  min-width: var(--fxt-icon-status-size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $main-bg-color;
  position: relative;

  .info-metadata {
    position: absolute;
    font-size: 16px;
    color: #0dcaf0;

    &.first.last {
      top: -4px;
      right: -5px;
    }

    &.first {
      &:not(.last) {
        top: -9px;
        left: -7px;
      }
    }

    &.last {
      &:not(.first) {
        bottom: -9px;
        right: -7px;
      }
    }

  }

  &.uncertain {
    border: dashed 4px #eee;
    background: linear-gradient(135deg,
        #f2f2f2 10%,
        transparent 10%,
        transparent 40%,
        #f2f2f2 40%,
        #f2f2f2 60%,
        transparent 60%,
        transparent 90%,
        #f2f2f2 90%);
    background-size: 10px 10px;
    background-position: 10px 50px;
  }

  &.disabled,
  &:disabled {
    >i {
      color: #c4c4c4 !important;
    }
  }

  >i {
    font-size: var(--fxt-icon-status-i-font-size);
  }

  &.level-Building,
  &.level-Floor {
    cursor: unset;
    color: unset !important;

    &:hover {
      background: unset !important;
    }
  }

  &:not(.circle-day) {
    &:hover {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #fafafa;
    }

    &:active,
    &:focus {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), #fafafa;
    }

    &.selected {
      background-color: unset;
      border: 1px solid $main-color;
    }
  }
}

$size: 32px;

:host {
  &.mode-half-day {
    display: block;
    background: linear-gradient(to top left,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) calc(50% - 0.8px),
        #e1e1e1 50%,
        rgba(0, 0, 0, 0) calc(50% + 0.8px),
        rgba(0, 0, 0, 0) 100%);
    position: relative;
    min-width: $size;
    min-height: $size;
    border: solid 1px #e1e1e1;
    border-radius: 8px;

    .fxt-icon-status {
      height: 14px;
      width: $size / 2;
      max-width: $size / 2;
      min-width: $size / 2;
      position: absolute;

      i {
        font-size: 14px;
      }

      &:first-of-type {
        top: 2px;
        left: 0;
      }

      &:last-of-type {
        bottom: 2px;
        right: 1px;
      }
    }
  }
}