<div class="wrapper" [class.selected-day]="isSelected" [ngClass]="customClass">

  <ng-container *ngIf="showGauge; else iconStatusRef">
    <fxt-gauge [percentage]="day[0].occupancyRate" [isOutOfMonth]="day[0].isOutOfMonth">
    </fxt-gauge>
  </ng-container>

  <div class="cell-day">{{ day[0].dayOfMonth }}</div>

</div>

<ng-template #selectedCell>
  <div class="selected-day">
    {{ day[0].dayOfMonth }}
  </div>
</ng-template>

<ng-template #iconStatusRef>
  <fxt-location-status [canViewAllInfos]="canEdit" [item]="day" [disabled]="pastDay"></fxt-location-status>
</ng-template>