@import "abstracts/variables";

:host {
  .actions {
    padding: 0 16px;
  }

  a.btn-slack {
    cursor: pointer;
    align-items: center;
    color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 44px;
    display: inline-flex;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 44px;
    justify-content: center;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
  }

  .btn-slack-icon {
    height: 16px;
    width: 16px;
    margin-right: 12px;
  }

  .helper {
    display: block;
    margin-top: 8px;
    text-align: left;
    color: $color-helper;
  }

  ng-select {
    max-width: 150px;
  }
}