@import "abstracts/variables";

.fxt-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
	margin-bottom: 0 !important;

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
	input:checked + .slider {
		background-color: $main-color;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px $main-color;
	}

	input:checked + .slider:before {
		-webkit-transform: translate(17px, -50%);
		-ms-transform: translate(17px, -50%);
		transform: translate(17px, -50%);
	}
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		&::before {
			position: absolute;
			content: "";
			height: 18px;
			width: 18px;
			left: 3px;
			top: 50%;
			background-color: white;
			transition: 0.4s;
			transform: translate(0, -50%);
		}
		&.round {
			border-radius: 34px;
			&::before {
				border-radius: 50%;
			}
		}
	}
}
