<fxt-datatable
  [columns]="columns" [pathGet]="pathGet" [pathUpdate]="pathUpdate"
  [pathDelete]="pathDelete" [canImpersonate]="true" #table
  [pathCreate]="pathCreate" [pathArchive]="pathArchive" [pathRestore]="pathRestore" [type]="type"
  (impersonated)="onImpersonate($event)"
  [showAdd]="showAdd"
  (resendOnboardingLink)="onResendOnboardingLink($event)"
 >
</fxt-datatable>
<input style="display:none" #inputFile type="file" accept=".csv" (change)="handleFileSelect($event)">
<button *ngIf="company" type="button" class="btn btn-warning ml-1 mt-3" (click)="inputFile.click()">Import managers</button>
<button *ngIf="company" type="button" class="btn btn-warning ml-1 mt-3" (click)="onAutofillMissingOnboardings($event)">Autofill missing onboardings</button>
<button (click)="addMemForTeam()" *ngIf="!showAdd" type="button" class="btn btn-primary mt-3">Add</button>
