@import "abstracts/variables";
@import "abstracts/mixins";

div.data {
  .table {
    margin-bottom: 36px;
    thead {
      width: 719px;
      height: 36px;
      tr {
        th {
          border: none;
          font-weight: 500;
          color: $grey-color50;
          padding: 0;
          vertical-align: middle;
          width: 179.75px;
          padding-left: 27px;
        }
      }
    }
    tbody {
      width: 719px;
      height: 36px;
      tr {
        font-weight: 400 !important;
        color: $grey-color80;
        height: 36px;
        &:last-child {
          border-bottom: 1px solid #dee2e6;
        }
        th {
          font-weight: 400 !important;
          padding: 0;
          padding-left: 27px;
          vertical-align: middle;
          width: 179.75px;
        }
        td {
          padding-left: 27px !important;
          width: 179.75px;
          padding: 0;
          vertical-align: middle;
        }
      }
    }
  }
}

@media (max-width: 1439px) {
  div.data {
    .table {
      thead {
        width: 634px;
        height: 32px;
        tr {
          th {
            width: 158.5px;
            padding-left: 24px;
          }
        }
      }
      tbody {
        width: 634px;
        height: 32px;
        tr {
          height: 32px;
          &:last-child {
            border-bottom: 1px solid #dee2e6;
          }
          th {
            padding-left: 24px;
            vertical-align: middle;
            width: 158.5px;
          }
          td {
            padding-left: 24px !important;
            width: 158.5px;
          }
        }
      }
    }
  }
}
