<!--<div class="data">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">{{'organization.month' | transloco}}</th>
        <th scope="col">{{'organization.active_users' | transloco}}</th>
        <th scope="col">{{'organization.paid' | transloco}}</th>
        <th scope="col" class="text-center">{{'organization.invoice' | transloco}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let billing of billings">
        <th scope="row">{{billing.month}}</th>
        <td class="">{{billing.activeUsers}}</td>
        <td class="">{{billing.paid}}</td>
        <td class=" text-center download"><button class="btn"><i class="fas fa-download"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>-->
