<section id="signIn">
  <img class="logo" [src]="logoImg" alt="" />
  <div class="content">
    <div class="kids mb-4 mt-4 text-center">
      <img [src]="loginImg" alt="" />
    </div>

    <div class="buttons">

      <ng-container *ngIf="!isImpersonate">

        <button class="fxt-button-primary" (click)="loginMicrosoft()" [disabled]="loading">
          <span class="image">
            <img src="assets/icons/microsoft_mini_logo.png" />
          </span>
          <span class="text">{{ "LOGIN.log_in_with_microsoft" | transloco }}</span>
          <span *ngIf="loading && authProvider === AuthProviderEnum.Microsoft"
            class="spinner-border spinner-border-sm ml-1"></span>
        </button>

        <button class="fxt-button-primary" (click)="loginGoogle()" [disabled]="loading">
          <span class="image">
            <img src="assets/icons/google_mini_logo.png" width="24px" height="24px" />
          </span>
          <span class="text">{{ "LOGIN.log_in_with_google" | transloco }}</span>
          <span *ngIf="loading && authProvider === AuthProviderEnum.Google"
            class="spinner-border spinner-border-sm ml-1"></span>
        </button>
      </ng-container>
    </div>

    <div class="divider">
      <span>{{'main.or' | transloco}}</span>
    </div>

    <form [formGroup]="loginForm" autocomplete="off">
      <!-- <div class="form-group">
        <input type="email" class="form-control" formControlName="username" autocomplete="false"
          placeholder="name@company.com" [ngClass]="{ 'is-invalid': f.username.errors && f.username.touched}" />
        <div *ngIf="f.username.errors && f.username.touched" class="invalid-feedback">
          <div *ngIf="f.username.errors.required; else invalidEmail">
            {{ "main.username_is_required" | transloco }}
          </div>
          <ng-template #invalidEmail>
            {{ "main.email_is_invalid" | transloco }}
          </ng-template>
        </div>
      </div> -->

      <div class="form-group">
        <input class="form-control" formControlName="username" autocomplete="false"
          placeholder="username" [ngClass]="{ 'is-invalid': f.username.errors && f.username.touched}" />
        <div *ngIf="f.username.errors && f.username.touched" class="invalid-feedback">
          <div *ngIf="f.username.errors.required; else invalidUsername">
            {{ "main.username_is_required" | transloco }}
          </div>
          <ng-template #invalidUsername>
            Username is invalid
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <input [type]="showPassword ? null : 'password'" class="form-control" placeholder="Password"
          formControlName="password" autocomplete="false"
          [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched}" />

        <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">
            {{ "main.password_is_required" | transloco }}
          </div>
        </div>

        <div *ngIf="f.password.valid" class="show-pass btn" data-toggle="button" aria-pressed="false"
          (click)="showPassword = !showPassword">
          <span *ngIf="!showPassword"><i class="fas fa-eye-slash"></i></span>
          <span *ngIf="showPassword"><i class="far fa-eye"></i></span>
        </div>

        <a routerLink="/forgot-password" class="forgot text-center">{{ "LOGIN.forgot_password" | transloco }}</a>
      </div>

      <div *ngIf="errorCode !== ''" class="alert alert-warning" role="alert" [@fadeOut]="'in'">
         {{('LOGIN.' + errorCode) | transloco}}
         <a *ngIf="showRegister" routerLink="/register" class="register text-center">{{ 'LOGIN.create_an_account' | transloco }}</a>
        <!-- <a *ngIf="apiError" (click)="logoutAll()" class="c-pointer">{{('LOGIN.logout_all') | transloco}}</a> -->
        <a *ngIf="showResend" (click)="resendInvitation()" class="resendinv c-pointer">{{'LOGIN.resend_invitation' | transloco}}</a>
      </div>

      <button class="fxt-button-primary" type="submit" [disabled]="loading || (loginForm.touched && loginForm.invalid)"
        (click)="onSubmit()">
        <span class="image">
          <img src="assets/images/logos/F_Logo_Colour-02.png" width="20px" height="20px" />
        </span>
        <span class="text" *ngIf="!isImpersonate"> {{ "LOGIN.log_in" | transloco }}</span>
        <span class="text" *ngIf="isImpersonate"> {{ "LOGIN.impersonate" | transloco }}</span>
        <span *ngIf="loading && authProvider === AuthProviderEnum.None "
          class="spinner-border spinner-border-sm ml-1"></span>
      </button>

    </form>

    <div class="info">
      <p routerLink="/register" class="text-center c-pointer">
        {{ "LOGIN.dont_have_account" | transloco }} <a>
          {{
          "main.sign_up" | transloco
          }}
        </a>
      </p>
    </div>

    <div class="term-condition">By continuing, you’re agreeing to our <a class="c-pointer"
        href="https://www.flexteam.fr/terms-of-service">Terms Of Service</a>, <a class="c-pointer"
        href="https://www.flexteam.fr/privacy-policy">Privacy Policy</a>, <a class="c-pointer"
        href="https://www.flexteam.fr/acceptable-use-policy">Acceptable User Policy </a> and <a class="c-pointer"
        href="https://www.flexteam.fr/cookie-policy">Cookie
        Policy</a>.
    </div>
    <div class="copyright text-center mt-3">
      <p>© 2022 <a class="c-pointer" href="https://www.flexteam.fr">www.flexteam.fr</a> version : {{version}}</p>
    </div>

  </div>
</section>
