:host {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .left {
    width: 250px;
    flex-shrink: 0;
    background-color: white;

    ::ng-deep fxt-manager-map-detail-sidebar{
      .bloc-floors{
        height: calc(100vh - 145px);
        overflow-y: auto;
      }
    }
  }

  .right {
    flex-grow: 2;
    background-color: #dfebe6;
  }
}
