<div class="d-flex flex-column name-wrapper" (click)="onItemSelected(building, null, null)">
  <div class="name">{{building.name}}</div>
  <div class="address">{{building.location}}</div>
</div>

<fxt-map-info-block-users *ngIf="!showDetail" [users]="users" [highlightUserIds]="highlightUserIds"></fxt-map-info-block-users>

<div [collapse]="!showDetail" [isAnimated]="true">
  <div class="bloc-floors">

    <ng-container *ngFor="let floor of floors">
      <fxt-map-info-floor [floor]="floor" [highlightUserIds]="highlightUserIds"
      (selected)="onItemSelected(building, $event.floor, $event.user)"></fxt-map-info-floor>
    </ng-container>

  </div>
</div>

<span class="arrow" (click)="onArrowClicked()">
  <i [class.fa-sort-down]="!showDetail" [class.fa-sort-up]="showDetail" class="fas"></i>
</span>