@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 170px;
  min-width: 170px;

  .name-wrapper {
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    @include hover-active-btn();
  }

  .name {
    font-weight: 500;
    font-size: 14px;
  }

  .address {
    font-size: 10px;
  }

  .arrow {
    cursor: pointer;
    text-align: center;
    @include hover-active-btn();
  }
}

.bloc-floors {
  margin-left: 16px;
  margin-right: 16px;
}
