@import "abstracts/variables";

:host {
    .accordeon-profile {
        height: auto;
        padding-top: 15px;
        max-width: 100%;
        background: $color-white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin: 0 auto;
        padding-bottom: 15px;
        margin-top: 15px;

        .accordeon__header {
            &__inner {
                flex-wrap: nowrap;
                .title {
                    display: flex;
                    align-items: center;
                    padding: 0;

                    p {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: $color-dark;
                        margin-bottom: 0;
                    }
                }

                .icon-wrapper i {
                    color: $color-helper;

                    &:first-child {
                        color: $main-color;
                    }
                }
            }
        }

        .accordeon__body {
            width: 100%;

            &__inner {
                padding-top: 20px;
                padding-bottom: 5px;
            }
        }

        .icon-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            &.arrow {
                cursor: pointer;
                i {
                    color: $color-dark !important;
                }
            }
        }
    }
}
