<div class="middle-content">
  <h1>Triggers</h1>
  <h2>External</h2>
  <button type="button" class="btn btn-primary mt-3" (click)="executeTriggerSlackSelection()">Force Slack weekly confirmation</button>
  <br />
  <h2>Last seat</h2>
  <button type="button" class="btn btn-primary mt-3" (click)="executeTriggerLastSeat()">Force Last Seat Booking statistics</button>
  <br />
  <h2>Segment</h2>
  <button type="button" class="btn btn-primary mt-3" (click)="executeSegmentAdded()">1 - Send Segment Added Users</button>
  <br />
  <button type="button" class="btn btn-primary mt-3" (click)="executeSegmentLogged()">2 - Send Segment Logged Users</button>
  <br />
  <button type="button" class="btn btn-primary mt-3" (click)="executeSegmentArchived()">3 (LAST) - Send Segment Archived Users</button>
  <br />
  <h2>Buildings and locations</h2>
  <button type="button" class="btn btn-primary mt-3" (click)="executeAllBuildingSynchro()">Synchro all buildings</button>
  <br />
</div>
