@import "abstracts/variables";
@import "abstracts/mixins";

.notification-day {
  padding-top: 18px;
  margin-bottom: 35px;

  header {
    display: flex;
    flex-direction: column;
    h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 42px;
      color: #000000;
      margin-bottom: 0;
      &.title {
        text-transform: capitalize;
      }
    }
    h5 {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #666666;
      margin-bottom: 32px;
    }
  }
  main {
    .location {
      padding: 0;
      display: flex;
      align-items: center;
      margin-bottom: 23px;
      h6 {
        margin-bottom: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #666666;
        margin-left: 9px;
      }
    }
    .groupe-block {
      padding: 0;
      .shadow {
        box-shadow: 0px 4.06024px 14.2108px rgb(0 0 0 / 15%) !important;
        border-radius: 5.0753px !important;
        padding: 0px;
        width: calc(100% - 115px);
      }
      h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        color: #000000;
      }
    }
    .notification-tabs {
      background-color: white;
      ul {
        display: flex;
        flex-direction: row;
        padding: 12px 6px;

        li {
          @include hover-active-btn();
          padding-top: 2px;
          padding-bottom: 2px;
          border-bottom: 2px solid transparent;
          &.active {
            border-bottom-color: $main-color;
            a.nav-link {
              color: $main-color;
            }
          }
        }

        a.nav-link {
          padding: 0 6px;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: -0.333333px;
          color: #666666;
          cursor: pointer;
          border-bottom: 1px solid transparent;
        }
      }
      .tab-content {
        padding: 11px;
      }
    }
  }
}
