::ng-deep app-modal-upload-picture video {
  width: 100%;
  max-width: 640px;
}

video {
  height: 50vh;

  &.disabled {
    background-color: #c4c4c4;
  }
}

.loader {
  margin: auto;
  margin-bottom: 20px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
