<div class="status-icon {{notification.level}}">
  <i class="fas fa-lg fa-exclamation-triangle" [ngClass]="{
    'fa-exclamation-triangle': notification.level === NotificationLevelEnum.Warning,
    'fa-info-circle': notification.level === NotificationLevelEnum.Info
  }"></i>
</div>

<div class="main">
  <div class="content">
    <div class="body">
      <div class="title">
        {{'notifications.' + notification.type + '.title' | transloco: payload}}
      </div>
      <div class="btn-close">
        <span (click)="closeNotification()">
          <i class="c-pointer fal fa-times fa-lg"></i>
        </span>
      </div>
    </div>
    <div class="sub" [innerHTML]="'notifications.' + notification.type + '.content' | transloco: payload"></div>
  </div>

  <div class="actions">
    <span class="date"><i class="far fa-clock"></i>&nbsp;
      {{DateGeneration}}</span>
    <button class="btn btn-primary fxt-button" (click)="actionNotification()">
      {{'notifications.' + notification.type + '.button' | transloco}} <i class="fas fa-check-circle icon-hide-on-mobile"></i>
    </button>
  </div>
</div>