<input type="checkbox" [checked]="toggleState" id="toggle-button-checkbox" />
<label class="toggle-button-switch" for="toggle-button-checkbox"></label>
<div
  (click)="changed.emit((toggleState = !toggleState))"
  class="toggle-button-text"
>
  <div class="toggle-button-text-on">
    <i class="fas fa-user"></i>
  </div>
  <div class="toggle-button-text-off">
    <div id="progress-toggle-icon">
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <span id="progress-value">%</span>
    </div>
  </div>
</div>
