@import "../../manager-office-common";

div.floor-map {
  width: 100%;
  @include borderRadius(8px);
  @include boxShadow(0px 3px 5px rgba(0, 0, 0, 0.16));
  display: flex;
  flex-direction: column;

  .title {
    width: 100%;
    height: 40px;
    background-color: $main-color;
    @include borderRadius(8px 8px 0px 0px);

    h4 {
      @include heading4();
      color: rgba(255, 255, 255, 0.96);
      padding: 12px 0;
      padding-left: 16px;

      span {
        margin-left: 8px;
      }
    }
  }

  ::ng-deep fxt-dnd-map-seats {
    flex: 2;
    .fxt-dnd-map-seats-wrapper {
      img {
        max-height: calc(100vh - 345px) !important;
      }
    }
  }

  .actions {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .toggle {
    padding-right: 8px;
    background-color: white;
    > span {
      white-space: nowrap;
    }
  }
}

.map-default {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 3rem;
  color: rgba(0, 0, 0, 0.72);

  .camera {
    i {
      font-size: 50px;
    }

    margin-bottom: 2rem;
  }

  .text {
    margin-bottom: 1rem;
    text-align: center;
  }
}
