// Style for all button
@use "sass:map";

@import "../abstracts/variables";

button {
  &.btn-question-icon {
    position: absolute;
    z-index: 1;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;

    i {
      font-size: 18px;
    }
  }

  &.btn-primary,
  &.btn-primary:hover,
  &.btn-primary:active,
  &.btn-primary:visited {
    background-color: $main-color !important;
    border-color: $main-color !important;
  }

  &.fxt-button {
    height: 40px;
    // box-shadow: 0px 5.72152px 5.72152px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    outline: none;

    &:active {
      box-shadow: 0px 5.72152px 5.72152px rgba(0, 0, 0, 0.25);
    }
  }
}

.fxt-btn-action {
  @include hover-active-btn();
  cursor: pointer;
  padding: 5px 10px;

  &.round {
    padding: 5px;
    border-radius: 50%;
  }
}



i {
  &.fa {
    &-question {
      color: #333333;
      &:before {
        content: "\f059";
      }
    }
  }

  &.drop-shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &.not-colored {
    color: $color-grey !important;
  }
}

// Latest version of primary button
button.fxt-button-primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 16px 16px 4px;
  border: none;
  background-color: $main-color;
  color: rgba(255, 255, 255, 0.96);
  height: 40px;
  border-radius: 40px;
  transition: all 0.15s cubic-bezier(0, 0, 0.2, 0.1);

  &:hover {
    box-shadow: 0 0 6px 0 rgb(71 99 136 / 50%);
  }

  .image {
    padding: 2px;
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 18px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .text {
    flex: 1;
    text-align: center;
  }
}

.btn-rounded-action {
  height: 32px;
  width: 32px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
  cursor: pointer;
  @include hover-active-btn();
}
