// Custom modal

// Searchbox of google map
.pac-container.pac-logo {
  z-index: 1067 !important;
}

.modal-user-profile {
  fxt-modal-user-profile {
    fxt-user-schedule {
      fxt-calendar {
        .calendar-header {
          .day {
            font-size: 15px !important;
          }
        }

        swiper {
          .row-icon {
            padding-left: 16px !important;
            padding-right: 16px !important;
            gap: 10px !important;

            fxt-circle-day {
              >.wrapper {
                row-gap: 4px !important;
                width: 32px !important;
                border-top-left-radius: 16px !important;
                border-top-right-radius: 16px !important;

                fxt-location-status {
                  .fxt-icon-status {
                    height: 32px !important;
                    width: 32px !important;

                    i {
                      font-size: 20px !important;

                      &.info-metadata {
                        font-size: 16px !important;
                      }
                    }
                  }

                  &.mode-half-day {
                    .fxt-icon-status {
                      height: 14px !important;
                      width: 16px !important;

                      i {
                        font-size: 15px !important;

                        &.info-metadata {
                          font-size: 12px !important;
                        }
                      }
                    }
                  }
                }

                .cell-day {
                  font-size: 15px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal-selection-seat-container {
  .modal-window {
    fxt-modal-selection-seat {
      height: 100%;
      width: 100%;

      fxt-map-seat {
        position: absolute;
        bottom: 100px;
        left: 0;
      }
    }
  }
}

.modal-search-googlemap-location {
  .modal-window {
    z-index: 1066 !important;
  }
}

.modal-confirmation {
  .modal-window {
    z-index: 1075 !important;
  }
}