@import "abstracts/variables";

$space: 15px;

%level {
  column-gap: 15px;
}

:host {
  .location-dropdown-wrapper {
    cursor: pointer;
    min-height: 50px;
    padding-top: 7px;
    padding-bottom: 7px;

    .location-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 15px;
      min-height: 38px;
      padding-left: $space;

      &.selected {

        .title,
        .seat {
          color: #000000;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }

      &:not(.selected-location) {
        padding-right: 8px;

        &:hover,
        &:active {
          background-color: rgba(0, 0, 0, 0.04);
        }
      }

      &.level-Building,
      &.level-Floor {
        cursor: default;

        &:hover,
        &:active {
          background-color: initial;
        }
      }

      i {
        font-size: 25px;
        text-align: center;
        width: 30px;
      }

      .title {
        flex-grow: 2;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
        font-size: 15px;
      }

      .seat {
        font-size: 15px;
      }

      .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }

    .dropdown-body {
      padding: $space 0;
      color: $color-helper;
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }
  }
}