@import "abstracts/variables";

:host {
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    padding: 15px;
    .item {
      padding: 5px 10px;
      display: flex;
      cursor: pointer;
      align-items: center;
      column-gap: 5px;
      &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #ffffff;
      }

      &:active {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), #ffffff;
      }
    }
  }

  ::ng-deep .fxt-card-office {
    &.selected {
      .office-info {
        border-bottom: 3px solid $main-color;
      }
    }
  }

  .no-data {
    color: $grey-color50;
    font-size: 12px;
  }
}
