<footer class="footer">
  <div class="container">
    <nav class="navbar navbar-expand d-flex flex-row fixed-bottom">
      <div *ngIf="isManagerInDesktop" routerLink="/manager"  class="nav-item d-flex mx-auto" routerLinkActive="active">
        <i class="far fa-th-large"></i>
      </div>
      <div *ngIf="!isManagerInDesktop" routerLink="/dashboard"  class="nav-item d-flex mx-auto" routerLinkActive="active">
        <i class="far fa-th-large"></i>
      </div>
      <div routerLink="/plan"  class="nav-item d-flex justify-content-center mx-auto" routerLinkActive="active">
        <i class="far fa-calendar-alt"></i>
      </div>
      <div  class="nav-item d-flex mx-auto" (click)="openCurrentUserProfilePopup()">
        <i class="far fa-user-circle"></i>
      </div>
      <div  class="nav-item d-flex mx-auto" (click)="showModalGoogleMap()">
        <i class="far fa-map"></i>
      </div>
      <div *ngIf="isMobile" style="visibility: hidden;" class="nav-item d-flex mx-auto" routerLinkActive="active">
        <i class="far fa-user-circle"></i>
      </div>
    </nav>
  </div>
</footer>
