<div class="row" *ngFor="let group of friendLocations">
  <div class="col-12 groupe-location-title">
    <i [ngClass]="'fas fa-' + group.location.name"></i>
    <p>{{group.location.address}}</p>
  </div>
  <div class="col-12 user-team">
    <div class="row">
      <div class="col-10 col-md-11 col-lg-11 col-xl-11">
        <div class="user-team-group">
          <ng-container *ngFor="let booking of group.bookings">
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{booking.user.fullName}}">
              <fxt-avatar [imageSrc]="booking.user.tinyPicture" (click)="onAvatarClicked(booking.user)"
              [initial]="booking.user.fullName" [size]="30" [shadow]="true"></fxt-avatar>
            </span>
          </ng-container>
        </div>
      </div>
      <div class="col-2 col-md-1 col-lg-1 col-xl-1 icon-wrapper">
        <a href="mailto:{{group.mailTarget}}"><i class="far fa-envelope drop-shadow "></i></a>
      </div>
    </div>
  </div>
</div>
