<div class="container-fluid middle-content" *ngIf="teams">
  <div class="teams">
    <h4 class="mt-1">{{'manager.your_teams' | transloco}}</h4>
    <div class="buttons">
      <div (clickOutside)="clickOutsideTab(selectedTeam)" class="btn-group" role="group">

        <div *ngFor="let team of teams" class="btn team" (click)="clickTab($event, team)"
          [class.selected]="team.id === selectedTeam?.id">

          <span [class.has-star]="team.isPrefered" *ngIf="!canEditName || selectedTeam?.id != team.id">
            {{team.name}} &nbsp;<i class="fas" [class.fa-user-tie]="team.isHierarchy"
              [class.fa-star]="team.isPrefered"></i>
          </span>

          <ng-container *ngIf="canEditName && selectedTeam?.id == team.id">
            <input autofocus (keydown.enter)="onInputEnter(team)" type="text" [(ngModel)]="team.name">
            <i (click)="onInputEnter(team, $event)" class="fas fa-check"></i>
          </ng-container>

        </div>

        <span class="btn-add-team" (click)="openModalCreateTeam()">
          <i class="far fa-plus"></i>
        </span>

      </div>
    </div>
    <div class="preferences">
      <div class="desc mb-1" *ngIf="isFavorite">{{'setting.favorite_team_description_default' | transloco}}</div>
      <div class="desc mb-1" *ngIf="!isFavorite">
        {{'main.description' | transloco}} &nbsp;
        <i *ngIf="isShowCheckIcon" (click)="onInputEnter(selectedTeam)"
          class="fas fa-check"></i>
      </div>
      <textarea *ngIf="!isFavorite && isOwnedByUser" [ngClass]="{'c-pointer': !canEditDesc}" (click)="clickDesc()"
        (clickOutside)="clickOutsideDesc()" class="form-control c-pointer" (keyup)="onInputEnter(selectedTeam, $event)" (keydown.enter)="onInputEnter(selectedTeam, $event)"
        [(ngModel)]="selectedTeam.description" rows="3" [readonly]="!canEditDesc"
        [placeholder]="'setting.owner_desc_placeholder' | transloco">
      </textarea>
      <div *ngIf="!isFavorite && !isOwnedByUser" class="description">{{selectedTeam?.description}}</div>

      <ng-container *ngIf="selectedTeam?.isHierarchy">
        <div class="mb-2">
          {{'main.mandatory_working_days' | transloco}}
          <div class="ml-1 d-inline-block" [tooltip]="'setting.mandatory_offices_days_tooltip' | transloco"
            placement="right"><i class="fas fa-info-circle"></i></div>
        </div>

        <div class="col-md-12">
          <div class="days">
            <div class="row">
              <button *ngFor="let md of workingDays; let dayIndex= index;" [class.selected]="mandatoryOfficeDays[dayIndex]"
                [disabled]="!(selectedTeam?.isHierarchy && isOwnedByUser)" class="button mr-3 btn-mandatory-day"
                (click)="toggleMandatory(dayIndex)">
                {{md}}
              </button>

              <button *ngIf="hasMandatoryOfficeDaysChanges" class="btn-notify btn btn-primary"
                (click)="saveMandatoryOfficeDaysAndNotify()">{{'setting.apply_changes' | transloco}}</button>
            </div>
          </div>
        </div>

      </ng-container>

      <div class="members mt-4">
        <h4>
          {{'main.members' | transloco}}
          <span *ngIf="isOwnedByUser" class="rounded-circle c-pointer" (click)="togglePanelAddUser()">
            <i class="far fa-user-plus"></i>
          </span>
        </h4>

        <div [collapse]="!showPanelAddUser" [isAnimated]="true">
          <fxt-add-user-team [team]="selectedTeam" (added)="onUserAdded($event)">
          </fxt-add-user-team>
        </div>
        <hr>
        <div *ngIf="!loading; else loader" class="cards">
          <div class="cards-inner" *ngIf="users.length > 0; else nodata">
            <fxt-setting-card-user *ngFor="let user of users; let index = index;" [user]="user"
              [currentUser]="currentUser" [disableRemove]="index == 0 && isOwnedByUser || !isOwnedByUser"
              [isChief]="index == 0" (remove)="onRemove($event)"></fxt-setting-card-user>
          </div>
        </div>

        <div class="btn-actions" *ngIf="!loading && isOwnedByUser">
          <button *ngIf="!selectedTeam.isPrefered && !(selectedTeam.isHierarchy && users.length > 1)"
            (click)="onBtnDeleteTeamClicked(selectedTeam)" class="btn btn-danger">
            {{'main.delete' | transloco}}
          </button>
        </div>

      </div>
    </div>
  </div>

</div>

<ng-template #nodata>
  <div class="nodata">{{'manager.no_member_found' | transloco}}</div>
</ng-template>
<ng-template #loader>
  <div class="loader text-center">
    <fxt-spinner></fxt-spinner>
  </div>
</ng-template>