<div class="bloc-users">
  <ng-container *ngIf="users; else loader">
    <ng-container *ngIf="users.length > 0; else noUser">
      <ng-container *ngFor="let user of users">
        <ng-container *ngTemplateOutlet="userTemplateRef; context: {user: user}">
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #userTemplateRef let-item="user">
  <fxt-avatar [highlight]="highlightUserIdsObj[item.id]" [imageSrc]="item.tinyPicture" [initial]="item.fullName" [size]="24"
  (click)="avatarClicked.emit(item)" class="c-pointer"></fxt-avatar>
</ng-template>

<ng-template #loader>
  <fxt-placeholder-loading [height]="25"></fxt-placeholder-loading>
</ng-template>

<ng-template #noUser>
  <div class="no-user">{{'manager.no_user' | transloco}}</div>
</ng-template>