@import "abstracts/variables";

#console {
  height: 100vh;
  display: grid;
  grid-template-columns: var(--fxt-manager-page-sidebar-width) auto;

  .sidebar {
    flex-shrink: 0;
  }

  .content {
    background: $page-content-bg-color;
    height: 100%;
  }
}
