<div class="page-container">
  <div class="bloc bloc-title">
    <h1>{{'onboarding.choose_your_colleagues' | transloco}}</h1>
  </div>

  <div class="bloc bloc-subtitle">
    <h4>{{'onboarding.you_will_see_their_presences' | transloco}}</h4>
  </div>

  <div class="bloc bloc-body">
    <div>{{'profile.my_favorites' | transloco}}</div>
    <fxt-search-persons-autocomplete [selections]="selections" [currentSelection]="currentSelection" [hideSuggestionsOnLoad]="true"
      (selected)='selectEvent($event)' (deleted)='deleteFromList($event)'></fxt-search-persons-autocomplete>

    <p class="helper">
      {{'onboarding.please_note_his_core_team' | transloco: {team: team, membersOfTeam: 'team members'} }}
    </p>
  </div>

  <div class="bloc bloc-info">
    <h4>{{'onboarding.change_later_in_your_profile' | transloco}} </h4>
    <h4> {{'onboarding.later_in_your_profile' | transloco}}</h4>
  </div>

  <div class="bloc bloc-action">
    <button type="button" class="btn btn-primary" (click)="navigate.emit(step + 1)">{{'main.finish' |
      transloco}}</button>
  </div>

  <div class="bloc bloc-footer">
    {{step}} / {{maxPage}}
  </div>

</div>
