<div class="bloc-chips-container">
  <div class="col">

    <ng-container *ngIf="!hideTitle">

      <div class="d-flex title">
        <h2>{{title}}</h2>
        <div>
          <button class="btn-question-icon" (click)="onQuestionClicked($event)">
            <i class="far fa-question-circle"></i>
          </button>
        </div>
      </div>

      <p class="description" [innerHTML]="descriptionHtml"></p>

    </ng-container>

    <div class="search-container" *ngIf="!hideSearch">

      <div class="bloc-chips c-pointer">
        <ng-container *ngFor="let selection of currentSelection?.items">
          <fxt-chip class="c-pointer" [item]="selection" image="{{selection.image}}" [selected]="!!selection.selected"
            (click)="onChipClicked($event, selection)">
          </fxt-chip>
        </ng-container>
      </div>

      <div *ngIf="!hideIconSearch" class="footer-search c-pointer" (click)="search.emit()">
        <button class="btn  btn-icon-search">
          <i class="fas fa-search fa-flip-horizontal"></i>
        </button>
      </div>
    </div>

  </div>
</div>