@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  .bloc-chips-container {
    margin-top: 10px;
    .col {
      padding: 0;
    }

    .title {
      margin-bottom: 5px;
      h2 {
        margin-bottom: 0;
      }
      > div {
        position: relative;
        button.btn-question-icon {
          left: 10px;

          svg:hover {
            cursor: pointer;
          }
        }
      }
    }

    p.description {
      color: $color-helper;
      margin-bottom: 5px;
    }

    .search-container {
      margin-top: 8px;
      margin-bottom: 7px;

      padding: 12px 18px;
      padding-right: 10px;

      display: flex;
      flex-direction: column;
      min-height: 52px;

      @include rounded-box-shadow;

      .bloc-chips {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
      }

      .footer-search {
        display: flex;
        justify-content: flex-end;
        text-align: center;
        align-items: center;

        button.btn-icon-search {
          border: none;
          font-size: 20px;
          padding: 0;
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }

  .count-of-users {
    font-weight: 500;
    margin-right: 5px;
    color: black;
  }
}

.clickable-question-cricle {
  font-size: 20px;
  margin-top: -10px;
  height: 20px;
  width: 20px;
  svg:hover {
    cursor: pointer;
  }
}
