@import "abstracts/variables";

.meeting-detail-wrapper {
  font-size: 18px;
  line-height: 24px;

  display: flex;
  flex-direction: column;
  row-gap: 24px;
  color: $grey-color80;
  background-color: $color-white;

  .bloc {
    &-name {
      display: flex;
      align-items: center;

      span.icon {
        flex-grow: 1;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        margin-right: 8px;
        background-color: $main-color;
      }

      input[type="text"] {
        border: none;
      }
    }

    &-date {
      .icon {
        margin-right: 8px;
      }
    }

    &-title {
      .icon {
        margin-right: 8px;
      }
    }

    &-add-participants {
      display: flex;
      align-items: center;
      flex-direction: row;

      ::ng-deep fxt-search-bar {
        width: 500px;

        .suggestions {
          max-height: 200px !important;
        }
      }

      .icon {
        margin-right: 8px;
      }
    }

    &-organizer {
      display: flex;
      flex-direction: row;
      column-gap: 100px;
      align-items: center;
      justify-content: space-between;

      a {
        color: #999999;
      }
    }

    &-users {
      padding-left: 40px;
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      max-height: 200px;
      overflow-y: auto;

      .item-user {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &-actions {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 100%;
      }

      span.btn-delete {
        margin-left: 16px;
        cursor: pointer;
      }
    }
  }
}