<div class="meeting-detail-wrapper">
  <div class="bloc-name">
    <span class="icon"></span>
    <input type="text" class="form-control" [(ngModel)]="meeting.name" [disabled]="!canEdit"
      (ngModelChange)="hasChanges = true" placeholder="{{'manager.add_name' | transloco}}">
  </div>

  <div class="bloc-date d-flex align-items-center">
    <span class="icon"><i class="fas fa-calendar-alt"></i></span>
    <span>{{periodTime.date}}</span> &nbsp;-&nbsp;
    <ng-select [disabled]="!canEdit" [items]="timePicks" [(ngModel)]="periodTime.start"
      (change)="onTimeChange($event, true)" [clearable]="false"></ng-select>&nbsp;-&nbsp;
    <ng-select [disabled]="!canEdit" [items]="timePicks" [(ngModel)]="periodTime.end" (change)="onTimeChange($event)"
      [clearable]="false"></ng-select>
  </div>

  <div class="bloc-add-participants">
    <span class="icon"><i class="fas fa-user-plus"></i></span>
    <ng-container *ngIf="!canEdit; else inputSearchRef ">
      <span>{{meeting?.users.length}}&nbsp;{{'manager.participants' | transloco}}</span>
    </ng-container>
  </div>

  <div class="bloc-users">
    <div class="item-user" *ngFor="let item of meeting?.users">
      <fxt-chip [item]="item" image="{{item?.image}}" [removable]="canEdit"
        (onCrossClick)="onCrossClick(item.id,SelectionTypeEnum.User )">
      </fxt-chip>
      <fxt-location-status [item]="item"></fxt-location-status>
    </div>

    <div class="item-user" *ngFor="let item of teams">
      <fxt-chip [item]="item" image="{{item?.image}}" [removable]="canEdit"
        (onCrossClick)="onCrossClick(item.id, SelectionTypeEnum.Team)">
      </fxt-chip>
    </div>

  </div>

  <div class="bloc-title">
    <span class="icon"><i class="fas fa-user-crown"></i></span>
    <span>{{'manager.organizer' | transloco}}</span>
  </div>

  <div class="bloc-organizer">
    <fxt-chip [item]="meeting?.organizer" image="{{meeting.organizer?.image}}">
    </fxt-chip>

    <a href="mailto:{{meeting.organizer?.email}}">
      <i class="far fa-envelope drop-shadow "></i>
    </a>

  </div>

  <div class="bloc-actions" *ngIf="canEdit">
    <button *ngIf="!meeting.id" [disabled]="!meeting.name" class="btn btn-primary" (click)="createOrEditMeeting()">
      <span>{{'manager.create_meeting' | transloco}}</span>
    </button>

    <button *ngIf="meeting.id" [disabled]="(!meeting.name) || !hasChanges" class="btn btn-primary"
      (click)="createOrEditMeeting()">
      <span>{{'manager.edit_meeting' | transloco}}</span>
    </button>

    <span class="btn-delete" *ngIf="meeting.id" (click)="onBtnDeleteClicked()"><i class="far fa-trash-alt"></i></span>
  </div>
</div>

<ng-template #inputSearchRef>
  <fxt-search-bar [disableQuickplayPicker]="true" [disableAllCompany]="true"
  [clearAfterSelect]="true"
    (selectionChanged)="onSelectionChanged($event)"></fxt-search-bar>
</ng-template>