<div class="fxt-dnd-map-seats-wrapper" (drop)="drop($event)" (dragover)="allowDrop($event)">

  <div class="grid" [class.display-grid]="displayGrid" [class.deg45]="gridDegree == DndMapSeatsGridDegreeEnum.Half"
    [class.deg125]="gridDegree == DndMapSeatsGridDegreeEnum.Quarter">
  </div>

  <ng-container *ngIf="isMapLoaded && !hideMarkers">

    <fxt-seat id="admin-seat-{{seat.id}}" [seat]="seat" draggable="true" (dragstart)="drag($event, seat, false)"
      class="wrapper" *ngFor="let seat of seats; let i = index;" [style.top.px]="seat.yParam * mapHeight"
      [style.left.px]="seat.xParam * mapWidth" [modeEdit]="true" [modeBook]="false"
      (editClicked)="editSeatClicked.emit($event)"
      (deleteClicked)="deleteSeatClicked.emit($event)"
      [highlight]="objHighlightSeatIds[seat.id]">
    </fxt-seat>

    <fxt-meeting-room [meetingRoom]="room" class="admin-meeting-room-{{room.id}}" draggable="true"
      (dragstart)="drag($event, room, true)" *ngFor="let room of meetingRoomsHavingCoordinates; let i = index;"
      [style.top.px]="room.coordinate.yParam * mapHeight" [style.left.px]="room.coordinate.xParam * mapWidth"
      [tooltip]="room.name">
    </fxt-meeting-room>

  </ng-container>

  <img draggable="false" #map (load)="onLoadImg(map)" [src]="base64Image">
</div>

<div class="actions" *ngIf="!disableGrid">
  <fxt-switch [(ngModel)]="displayGrid"></fxt-switch>
  <label class="ml-1 m-0 mr-2" for="">{{'main.display_grid' | transloco}}</label>
  <fxt-radio-group *ngIf="displayGrid" [options]="degreeOptions" [(ngModel)]="gridDegree"></fxt-radio-group>
</div>