@import "abstracts/variables";
@import "abstracts/mixins";

section#archived-list {
  .table-wrapper {
    width: 100%;
    max-height: 400px;
    height: 400px;
    overflow: auto;
    display: inline-block;

    ngx-datatable {
      height: 100%;
      width: 100%;

      .datatable-header,
      .datatable-body {
        width: 100%;
      }
    }

    .loader {
      text-align: center;
    }
  }

  div.content {
    background-color: $page-content-bg-color;
    div.info {
      background-color: #fff;
      margin-left: auto;
      margin-right: auto;
      div.tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;

        .btn-group {
          display: flex;
          column-gap: 15px;
        }

        button,
        a {
          color: $grey-color40;
          font-weight: normal !important;
          border-bottom: 2px solid transparent;
          border-radius: 0;
          @include hover-active-btn();

          &:focus {
            box-shadow: none;
          }

          &.active {
            color: $grey-color80;
            border-bottom-color: $main-color;
          }
        }
      }

      .btn-restore {
        @include hover-active-btn();
        border-radius: 50%;
        position: absolute;
        top: 0;
      }
    }
  }
}
@media (max-width: 1439px) {
  section#company {
    div.content {
      div.info {
        width: 80%;
        margin-top: 65px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
        @include borderRadius(16px);
      }
    }
  }
}
