.fxt-add-user-team {

  .form-group {
    display: flex;
    align-items: center;
    position: relative;

    .search {
      position: absolute;
      left: 10px;
    }

    .btn-action {
      position: absolute;
      right: 0;

      > i {
        font-weight: 400;
      }
    }

    .clear {
      position: absolute;
      right: 40px;
      opacity: 0.5;

      &.active {
        opacity: 1;
        cursor: pointer;
      }
    }

    .form-control {
      padding-left: 30px;
      padding-right: 55px;
      border-radius: 25px;

      &:focus {
        box-shadow: none;
        border-color: var(--main-color);
      }

      &::placeholder {
        color: rgba(0, 0, 0, 0.32);
      }
    }
  }

  .btn-action {
    vertical-align: middle;
    width: 34px;
    height: 34px;
    min-width: 34px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .helper {
    color: rgba(0, 0, 0, 0.4);
    margin: 0;

    a {
      color: var(--main-color);
      cursor: pointer;
    }
  }

  .results {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;

    .profile {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      cursor: pointer;

      &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #ffffff;
      }

      .info {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-right: 15px;
        flex-grow: 1;

        img,
        ngx-avatar {
          width: 32px;
          height: 32px;
          vertical-align: baseline;
          margin-top: -0.2rem;
          margin-right: 15px;
        }

        .name {
          .team {
            font-size: 14px;
          }
        }
      }

      .btn-action {
        width: 34px;
        height: 34px;
      }
    }
  }
}
