<div class="container" style="margin: 20px;">
    <form [formGroup]="taskDetailForm" autocomplete="off">
        <!--Task Name-->
        <div class="form-group row">
          <label for="txtName" class="col-md-3 col-form-label text-right">Task Name</label>
          <div class="col-md-9">
            <input placeholder="Enter Task Name" type="text" class="form-control" id="txtName" formControlName="name" 
            [ngClass]="{ 'is-invalid': f.name.errors && f.name.touched}" />
            <div *ngIf="f.name.errors && f.name.touched" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">
                     Task Name is required
                </div>
            </div>
          </div>
        </div>
        <!--Owner By-->
        <div class="form-group row">
            <label for="txtName" class="col-md-3 col-form-label text-right">Owner By</label>
            <div class="col-md-9">
                <ng-select placeholder="Select Owner Task" formControlName="ownerBy" appendTo="body" [items]="users" bindLabel="name" bindValue="userName" [clearable]="true"
                        [searchable]="true" 
                        [ngClass]="{ 'is-invalid': f.ownerBy.errors && f.ownerBy.touched}">
                </ng-select>
                <div *ngIf="f.ownerBy.touched && f.ownerBy.errors" class="invalid-feedback">
                    <div *ngIf="f.ownerBy.errors.required">
                        Owner Task is required
                    </div>
                </div>
            </div>
          </div>

        <!--Average Completion Time-->
        <!-- <div class="form-group row">
          <label for="txtAverageCompletionTime" class="col-md-3 col-form-label text-right">Average Completion Time</label>
          <div class="col-md-9">
            <input placeholder="Enter Average Completion Time" type="number" min="1" class="form-control" id="txtAverageCompletionTime" formControlName="averageCompletionTime"
            [ngClass]="{ 'is-invalid': f.averageCompletionTime.errors && f.averageCompletionTime.touched}">
            <div *ngIf="f.averageCompletionTime.errors && f.averageCompletionTime.touched" class="invalid-feedback">
                <div *ngIf="f.averageCompletionTime.errors.required">
                    Average Completion Time is required
                </div>
            </div>
          </div>
        </div> -->

        <!--Earning-->
        <div class="form-group row">
            <label for="txtBidPerTaskCompletion" class="col-md-3 col-form-label text-right">Earning</label>
            <div class="col-md-9">
              <input placeholder="Enter Earning" type="number" min="1" class="form-control" id="txtBidPerTaskCompletion" formControlName="bidPerTaskCompletion"
              [ngClass]="{ 'is-invalid': f.bidPerTaskCompletion.errors && f.bidPerTaskCompletion.touched}">
              <div *ngIf="f.bidPerTaskCompletion.errors && f.bidPerTaskCompletion.touched" class="invalid-feedback">
                  <div *ngIf="f.bidPerTaskCompletion.errors.required">
                        Earning is required
                  </div>
              </div>
            </div>
        </div>
        <!--Budget-->
        <div class="form-group row">
            <label for="txtBudget" class="col-md-3 col-form-label text-right">Budget</label>
            <div class="col-md-9">
              <input placeholder="Enter Budget" type="number" min="1" class="form-control" id="txtBudget" formControlName="budget"
              [ngClass]="{ 'is-invalid': f.budget.errors && f.budget.touched}">
              <div *ngIf="f.budget.errors && f.budget.touched" class="invalid-feedback">
                    <div *ngIf="f.budget.errors.required">
                        Budget is required
                    </div>
              </div>
            </div>
        </div>
        <!--Duration On Page-->
        <div class="form-group row">
            <label for="txtDurationOnPage" class="col-md-3 col-form-label text-right">Duration On Page <i style="font-size: 13px;">(second)</i></label>
            <div class="col-md-9">
                <input placeholder="Enter Duration On Page" type="number" class="form-control" id="txtDurationOnPage" formControlName="durationOnPage"
                [ngClass]="{ 'is-invalid': f.durationOnPage.errors && f.durationOnPage.touched}">
                <div *ngIf="f.durationOnPage.errors && f.durationOnPage.touched" class="invalid-feedback">
                    <div *ngIf="f.durationOnPage.errors.required">
                        Duration On Page is required
                    </div>
              </div>
            </div>
        </div>
        <!--Link Page-->
        <div class="form-group row">
            <label for="txtLinkPage" class="col-md-3 col-form-label text-right">Link Page</label>
            <div class="col-md-9">
                <input placeholder="Enter Link Page" type="text" class="form-control" id="txtLinkPage" formControlName="linkPage"
                [ngClass]="{ 'is-invalid': f.linkPage.errors && f.linkPage.touched}">
                <div *ngIf="f.linkPage.errors && f.linkPage.touched" class="invalid-feedback">
                    <div *ngIf="f.linkPage.errors.required">
                        Link Page is required
                    </div>
              </div>
            </div>
        </div>
        <!--Document-->
        <div class="form-group row">
            <label for="txtDocument" class="col-md-3 col-form-label text-right">Document</label>
            <div class="col-md-9" >
                <span *ngIf="isEditTask || isAddTask" class="d-flex flex-row">
                    <span class="w-100">
                        <input (change)="handleInputChange($event)"  type="file" class="form-control" id="txtDocument">
                    </span>
                    <span *ngIf="originalDocument" class="pl-3">
                        <a [href]="linkDocument" [tooltip]="'View Document'">
                            <i class='fas fa-eye text-success pt-2 pl-0' style="cursor: pointer;"></i>
                        </a>
                    </span>
                </span>
                <span *ngIf="isDetailTask">
                    <a target="_blank" *ngIf="originalDocument" [href]="originalDocument" [tooltip]="'View Document'">
                        <i class='fas fa-eye text-success' style="cursor: pointer; padding-top:11px;"></i>
                    </a>
                    <i *ngIf="!originalDocument" class="text-secondary d-inline-block pt-1">
                        Not Available
                   </i>
                </span>
            </div>
        </div>
        <!--Link Youtube-->
        <div class="form-group row">
            <label for="txtLinkYoutube" class="col-md-3 col-form-label text-right">Link Youtube</label>
            <div class="col-md-9">
                <input *ngIf="isEditTask || isAddTask" type="text" class="form-control" id="txtLinkYoutube" formControlName="linkYoutube">
                <span *ngIf="isDetailTask">
                    <a target="_blank" *ngIf="linkYoutube" [href]="linkYoutube" [tooltip]="'View Youtube'">
                        <i class='fas fa-eye text-success' style="cursor: pointer; padding-top:11px;"></i>
                    </a>
                    <i *ngIf="!linkYoutube" class="text-secondary d-inline-block pt-1">
                         Not Available
                    </i>
                </span>
            </div>
        </div>
        <!--Guideline-->
        <div class="form-group row">
            <label for="txtGuideline" class="col-md-3 col-form-label text-right">Guideline</label>
            <div class="col-md-9">                
                <ckeditor [(ngModel)]="guideline"
                    [ngModelOptions]="{standalone: true}"
                    #myckeditor="ngModel"
                    name="myckeditor"
                    id="txtGuideline"
                    required
                    [config]="ckeConfig" 
                    debounce="500" 
                (ngModelChange)="onChange($event)">
                </ckeditor>
            </div>
        </div>
        <!--Status-->
        <div class="form-group row" *ngIf="(isEditTask || isDetailTask) && canSwitchTask">
            <label for="txtStatus" class="col-md-3 col-form-label text-right">Status</label>
            <div class="col-md-9 pt-2">
                <fxt-switch [disabled]="isDetailTask" (ngModelChange)="onupdateStatus(task)" [(ngModel)]="currentStatusTask" [ngModelOptions]="{standalone: true}"></fxt-switch>
            </div>
        </div>
        <!--Pick Task-->
        <div class="form-group row" *ngIf="isDetailTask && !isMyOwnTasks && !isFinishedTasks">
            <label class="col-md-3 col-form-label text-right">Pick Task</label>
            <div class="col-md-9">
                <span class="custom-control custom-checkbox mb-3" style="padding-top: 7px;">
                    <input [(ngModel)]="isPickedTask" [ngModelOptions]="{standalone: true}" (change)="eventCheck($event)" type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label" for="customCheck" style="cursor: pointer;"></label>
                </span>
            </div>
        </div>
        <!--Save button-->
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-right"></label>
            <div class="col-md-9 text-right">
                <button [ngStyle]="{'cursor': taskDetailForm.invalid ? 'not-allowed' : 'pointer' }" [disabled]="taskDetailForm.invalid" *ngIf="isEditTask || isAddTask" type="button" class="btn btn-primary" (click)="editTask()">Save</button>
                <button type="button" class="btn btn-secondary ml-3" (click)="gotoListTask()">Back</button>
            </div>
        </div>
    </form>
</div>
