<ul *ngIf="geodataObj; else nodata">
  <li>{{'main.location' | transloco}}: <strong>{{geodataObj.formattedAddress || geodataObj.location}}</strong></li>
  <li *ngIf="showLatLng">Lat: {{geodataObj.lat}}</li>
  <li *ngIf="showLatLng">Lng: {{geodataObj.lng}}</li>
</ul>

<ng-template #nodata>
  <div class="mb-2">
    <em class="mr-1">{{'organization.no_selected_location' | transloco}}</em>
    <button class="btn btn-primary" (click)="onAddClicked($event)">{{'main.add_location' | transloco}}</button>
  </div>
</ng-template>