<section id="section-manager-organization">
  <div class="content">
    <div class="info">
      <div class="tabs">
        <div class="btn-group" role="group">
          <a class="btn company" routerLink="company-info" routerLinkActive="active">
            {{'organization.company_info' | transloco}}
          </a>
          <a class="btn policy" routerLink="working-policy" routerLinkActive="active">
            {{'organization.working_policy' | transloco}}
          </a>
          <a class="btn policy" routerLink="timeslot-template" routerLinkActive="active">
            {{'organization.working_hours' | transloco}}
          </a>
          <!-- <a class="btn billing" routerLink="billing" routerLinkActive="active">
            {{'organization.billing' | transloco}}
          </a> -->
          <a class="btn integ" routerLink="integrations" routerLinkActive="active">
            {{'organization.integrations' | transloco}}
          </a>
          <a class="btn integ" routerLink="company-option" routerLinkActive="active">
            {{'organization.company_option' | transloco}}
          </a>
        </div>
      </div>

      <router-outlet></router-outlet>

    </div>
  </div>
</section>
