@import "abstracts/variables";
@import "abstracts/mixins";

section#section-manager-organization {
  div.content {
    background-color: $page-content-bg-color;
    padding: 64px;
    div.info {
      background-color: #fff;
      padding: 40px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 18px;

      .btn-group {
        column-gap: 32px;
      }

      div.tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
        button,
        a {
          color: $grey-color40;
          font-weight: normal !important;
          border-bottom: 2px solid transparent;
          @include borderRadius(0px);
          @include hover-active-btn();

          &:focus {
            box-shadow: none;
          }

          &.active {
            color: $grey-color80;
            border-bottom: 2px solid $main-color;
          }
        }
      }
    }
  }
}
