<div class="fxt-google-map-wrapper" *ngIf="googleMapLoaded | async">
  <google-map #ggMap height="100%" width="100%" [options]="options" [center]="center" [zoom]="zoom" (idle)="onIdle()">
    <ng-container *ngFor="let markerPosition of buildingMarkerPositions; let i = index">
      <map-marker #marker="mapMarker" [position]="markerPosition" (mapClick)="openInfoWindow(marker, i)">
      </map-marker>

      <map-info-window class="fxt-map-info-window">
        <fxt-map-info-building [building]="buildings[i]" [selectedDate]="selectedDate"
          (itemClicked)="onInfoWindowItemClicked($event)" [highlightUserIds]="highlightUserIds"
          (collapsed)="onCollapsed(i)"></fxt-map-info-building>
      </map-info-window>
    </ng-container>

    <ng-container *ngFor="let mk of userMarkerPositions; let userIndex = index">
      <map-marker #marker="mapMarker" [position]="mk" (mapClick)="openInfoWindowUser(marker, userIndex)">
      </map-marker>

      <map-info-window>
        <div class="map-info-user">
          <fxt-location-status [item]="users[userIndex].location"></fxt-location-status>
          <fxt-avatar [imageSrc]="users[userIndex].tinyPicture" [initial]="users[userIndex].fullName" [size]="32">
          </fxt-avatar>
        </div>
      </map-info-window>
    </ng-container>

    <map-marker-clusterer [imagePath]="markerClustererImagePath"
    (clusteringend)="onClusteringend()">
      <ng-container *ngFor="let mapPin of mapPinsPositions; let pinIndex = index">

        <map-marker [options]="markerIconNeoNomadOptions" #markerMapPin="mapMarker" [position]="mapPin"
          (mapClick)="openInfoWindowPin(markerMapPin, pinIndex)">
        </map-marker>

        <map-info-window #mapPinInfo="mapInfoWindow">
          <fxt-map-pin [pin]="mapPins[pinIndex]"></fxt-map-pin>
        </map-info-window>

      </ng-container>
    </map-marker-clusterer>
  </google-map>
</div>