<div class="modal-add-metadatavalues-wrapper">
  <h5 class="new px-3">{{title | transloco}}</h5>

  <ng-container>
    <div class="metadata-wrapper mb-3">
      <div class="container container-height">
        <div class="row">
          <div class="col-12">
            <div class="bloc-location">
              <label class="address d-flex align-items-center">
                <span>{{'main.you_have_selected' | transloco}}&nbsp;</span>
                <strong>{{location?.address}}</strong>
                <fxt-location-status [item]="location"></fxt-location-status>
              </label>
            </div>
          </div>
        </div>

        <div class="metadata-item-wrapper">
          <div class="row" *ngFor="let template of viewModel; let i = index">
            <div class="col-12">
              <label for="type" class="address mb-1 pb-0">
                <span class="required-star">{{template.name}}
                  <span *ngIf="template.metadataItem.isMandatory">(*)</span>
                </span>
                <span *ngIf="template.type === MetadataTypesEnum.Geodata" class="c-pointer ml-2 btn-map-picker"
                  (click)="openModalGoogleMapSearchBox(i)">
                  <i class="far fa-map-marker-edit"></i>
                </span>
              </label>
              <div class="input-control">

                <ng-container *ngIf="template.type === MetadataTypesEnum.FreeText">
                  <textarea class="form-control mr-0" rows="3" [(ngModel)]="template.method"
                    (ngModelChange)="validateMethod($event, i)"></textarea>
                </ng-container>

                <ng-container *ngIf="template.type === MetadataTypesEnum.Dropdown">
                  <ng-select id="type" name="type" appendTo="body" [items]="template.options" bindLabel="value"
                    bindValue="value" [clearable]="false" [searchable]="false" [(ngModel)]="template.method"
                    (ngModelChange)="validateMethod($event, i)">
                  </ng-select>
                </ng-container>

                <ng-container *ngIf="template.type === MetadataTypesEnum.Checkbox">
                  <label for="control_{{option.value}}" *ngFor="let option of template.options">
                    <input id="control_{{option.value}}" name="optionCheckbox" type="checkbox"
                      [(ngModel)]="option.selected" (ngModelChange)="validateMethod($event, i)">
                    {{ option.value }}
                  </label>
                </ng-container>

                <ng-container *ngIf="template.type === MetadataTypesEnum.Geodata">
                  <fxt-geodata-preview [geodata]="template.method" (buttonAddClicked)="openModalGoogleMapSearchBox(i)">
                  </fxt-geodata-preview>
                </ng-container>

              </div>

              <label class="pl-2 form-error" *ngIf="submitted && !template.isValidMethod">
                <small> {{'main.method' | transloco}} is required.</small>
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>
  </ng-container>

  <div class="buttons px-3">

    <button type="button" class="btn btn-light" (click)="cancel($event)">
      {{textBtnCancel |transloco}}</button>

    <button [disabled]="!isValidModel" type="submit" class="btn btn-primary mr-0" (click)="submitForm(false, $event)">
      {{textBtnOk | transloco}}
    </button>
  </div>


</div>