<div class="form-group d-flex">
  <input type="text" class="form-control" autocomplete="off" [placeholder]="'manager.enter_query' | transloco"
    #mapSearchField (input)="onInput()">
  <button class="btn btn-primary ml-2" [disabled]="places.length == 0" (click)="confirm($event)">{{'main.ok' |
    transloco}}</button>
</div>

<div class="fxt-google-map-searchbox-wrapper" *ngIf="googleMapLoaded | async">
  <google-map height="100%" width="100%" [options]="options" (idle)="onIdle()" [center]="center">
    <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition" [options]="markerOptions">
    </map-marker>
  </google-map>
</div>