@import "../../manager-office-common";

$padding: 8px;

.manager-office-card-building-wrapper {
  @extend %manager-office-card-location;

  &.selected {
    opacity: 1;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    .indicator-selected {
      height: 32px;
      min-height: 32px;
    }
  }
}

.elipsis {
  width: 15px;
  display: inline-block;
  text-align: right;
}

.indicator-selected {
  position: absolute;
  width: 100%;
  bottom: -32px;
  left: 0;
  background-color: white;
  height: 0;
  transition: height 0.2s linear;
  will-change: height;
}
