<div class="middle-content">
  <h1>Check</h1>
  <button type="button" class="btn btn-primary mt-3" (click)="checkDataConsistency()">Check data consistency
  </button>
  <ul *ngIf="data">

    <li><strong>Check date: {{data.checkDate | date: formatDateTime}}</strong></li>

    <li>Check that all users does not have "Undefined" in <strong>Onboarding's favorite week</strong>
      <ul>
        <li *ngFor="let state of data.undefinedLocationOnBoardingStates"
          [ngClass]="!state.hasError ? 'success': 'error'">
          <span>{{state.companyName}}</span>
          <i *ngIf="!state.hasError" class="fas fa-check-circle"></i>
          <i *ngIf="state.hasError" class="fas fa-times-circle"></i>
        </li>
      </ul>
    </li>

    <li>Check that all users does not have "Undefined" in <strong>Bookings</strong>
      <ul>
        <li *ngFor="let state of data.undefinedLocationOnBookingStates"
          [ngClass]="!state.hasError ? 'success': 'error'">
          <span>{{state.companyName}}</span>
          <i *ngIf="!state.hasError" class="fas fa-check-circle"></i>
          <i *ngIf="state.hasError" class="fas fa-times-circle"></i>
        </li>
      </ul>
    </li>

    <li>Check that all users does not have "Building or Floor" in <strong>Onboarding's favorite week</strong>
      <ul>
        <li *ngFor="let state of data.buildingOrFloorOnBoardingStates" [ngClass]="!state.hasError ? 'success': 'error'">
          <span>{{state.companyName}}</span>
          <i *ngIf="!state.hasError" class="fas fa-check-circle"></i>
          <i *ngIf="state.hasError" class="fas fa-times-circle"></i>
        </li>
      </ul>
    </li>

    <li>Check that all users does not have "Building or Floor" in <strong>Bookings</strong>
      <ul>
        <li *ngFor="let state of data.buildingOrFloorOnBookingStates" [ngClass]="!state.hasError ? 'success': 'error'">
          <span>{{state.companyName}}</span>
          <i *ngIf="!state.hasError" class="fas fa-check-circle"></i>
          <i *ngIf="state.hasError" class="fas fa-times-circle"></i>
        </li>
      </ul>
    </li>

    <li>Check that if there are not-archived locations but having not null archived date
      <ul>
        <li *ngFor="let state of data.wrongArchiveLocations" class="error">
          <span>{{state.address}}</span>
          <i class="fas fa-times-circle"></i>
        </li>
      </ul>
    </li>

    <li>Check that if there are not-archived buildings but having not null archived date
      <ul>
        <li *ngFor="let state of data.wrongArchiveBuildings" class="error">
          <span>{{state.name}}</span>
          <i class="fas fa-times-circle"></i>
        </li>
      </ul>
    </li>

    <li>Check that if there are not-archived floors but having not null archived date
      <ul>
        <li *ngFor="let state of data.wrongArchiveFloors" class="error">
          <span>{{state.name}}</span>
          <i class="fas fa-times-circle"></i>
        </li>
      </ul>
    </li>

    <li>Check that if there are not-archived offices but having not null archived date
      <ul>
        <li *ngFor="let state of data.wrongArchiveOffices" class="error">
          <span>{{state.name}}</span>
          <i class="fas fa-times-circle"></i>
        </li>
      </ul>
    </li>

    <li [ngClass]="!data.hasErrorLinkFloorSeatArchitecture ? 'success': 'error'">Seat achitecture is put on floor that
      seat is linked to offices that is linked to same floor
      <span *ngIf="!data.hasErrorLinkFloorSeatArchitecture"><i class="fas fa-check-circle"></i></span>
      <span *ngIf="data.hasErrorLinkFloorSeatArchitecture"><i class="fas fa-times-circle"></i></span>
    </li>

    <li>Check if MaxPersons Building equal Sum Capacity FLoor
      <ul>
        <li *ngFor="let state of data.maxPersonsBuilding" [ngClass]="!state.hasError ? 'success': 'error'">
          <span>{{state.companyName}}</span>
          <i *ngIf="!state.hasError" class="fas fa-check-circle"></i>
          <i *ngIf="state.hasError" class="fas fa-times-circle"></i>
        </li>
      </ul>
    </li>

    <li>Check if MaxPersons Floor equal Sum Capacity Office
      <ul>
        <li *ngFor="let state of data.maxPersonsFloor" [ngClass]="!state.hasError ? 'success': 'error'">
          <span>{{state.companyName}}</span>
          <i *ngIf="!state.hasError" class="fas fa-check-circle"></i>
          <i *ngIf="state.hasError" class="fas fa-times-circle"></i>
        </li>
      </ul>
    </li>

    <li>Check if Capacity Office equal count Desk if DeskBookingEnabled on floor is true
      <ul>
        <li *ngFor="let state of data.floorIsDeskBookingEnabled" [ngClass]="!state.hasError ? 'success': 'error'">
          <span>{{state.companyName}}</span>
          <i *ngIf="!state.hasError" class="fas fa-check-circle"></i>
          <i *ngIf="state.hasError" class="fas fa-times-circle"></i>
        </li>
      </ul>
    </li>

  </ul>
</div>