<div class="middle-content">

  <h1>Companies</h1>
  <fxt-admin-table-companies></fxt-admin-table-companies>
  <hr>

  <h1>Teams of company {{selectedCompany?.name}} </h1>
  <div *ngIf="!selectedCompany">Please select a company</div>
  <fxt-admin-table-teams *ngIf="selectedCompany" [company]="selectedCompany"></fxt-admin-table-teams>

  <div *ngIf="!selectedTeam && selectedCompany">Please select a team</div>
  <fxt-admin-table-users [showAdd]="false" *ngIf="selectedTeam" [team]="selectedTeam"></fxt-admin-table-users>
</div>