@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  .weekly-search-summary {
    background-color: white;

    padding: 0 5rem 0rem 2rem;
    border-radius: 0px 0px 16px 16px;
    height: 100%;

    .weekly-search {
      display: flex;
      flex-direction: row;
      padding-top: 15px;
    }

    .bloc-summary {
      margin-top: 20px;
      flex: 2;
      h3 {
        font-size: 14px;
      }

      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 300px;

        span.text {
          font-size: 12px;
          font-weight: 500;
          white-space: nowrap;
          max-width: 65px;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .icons {
          display: flex;
          align-items: center;
          column-gap: 8px;
          cursor: pointer;
          @include hover-active-btn();
          padding: 0 5px;

          span {
            &.circle {
              color: rgb(2, 156, 85);
              font-size: 0.7rem;
              &.hidden {
                color: rgba(0, 0, 0, 0.32);
              }
            }
          }
        }
      }

      .item .score > span {
        margin-left: 8px;
      }
    }

    .bloc-charts {
      display: flex;
      position: relative;
      flex: 2;

      min-width: 600px;
      max-width: 600px;

      .lines {
        position: absolute;
        bottom: 0;
        width: 100%;
        hr {
          width: 110%;
          margin-bottom: 1.5rem;
        }
      }

      .progress-charts {
        height: 100%;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 30px;
        padding-right: 45px;
        padding-bottom: 5px;
        z-index: 2;
      }
    }
  }
}
