<div class="map">
  <ng-container *ngIf="!loading; else loader">
    <ng-container *ngIf="seatArchitecture; else noSeatArchitecture">
      <fxt-map-seat #mapSeatCmp [mapSeatTimeslots]="mapSeatTimeslots" [timeSlotTemplates]="timeSlotTemplates" [seatArchitecture]="seatArchitecture"
        [objHighlightSeatUser]="objHighlightSeatUser" [clickedUserId]="clickedUserId" [mapSeatUsers]="mapSeatUsers"
        [disableBookState]="disableBookState" [mapOccupationRules]="mapOccupationRules"
        [currentDayStatus]="currentDayStatus"
        (bookClicked)="bookClicked.emit($event)" (chipClicked)="onChipClicked($event)" [currentUser]="currentUser"
        (inviteClicked)="inviteClicked.emit($event)"
        (meetingRoomClicked)="onMeetingRoomClicked($event)" [meetingRooms]="meetingRooms"
        [highlightSeatIds]="highlightSeatIds"
        (mapLoaded)="onMapLoaded()">
      </fxt-map-seat>
    </ng-container>
  </ng-container>
</div>

<ng-template #noSeatArchitecture>
  <span class="no-data">{{'manager.no_floor_map_offices_available' | transloco}}</span>
</ng-template>

<ng-template #loader>
  <div class="loader">
    <fxt-spinner></fxt-spinner>
  </div>
</ng-template>