$color-capacity: #c81c1c;

.row-office {
    > .name {
      padding: 5px 15px 5px 30px;
      color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: space-between;

      .capacity.is-overload {
        color: $color-capacity;
      }

      .badge {
        background-color: rgba(200, 28, 28, 0.2);
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
        color: rgba(200, 28, 28, 0.8);
        padding: 5px;
        border-radius: 15px;
      }
    }
    .users {
      padding-left: 16px;
      .row-user {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        align-items: center;
        padding: 8px 16px;

        &:hover {
          background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.04),
              rgba(0, 0, 0, 0.04)
            ),
            #ffffff;
        }

        &:active {
          background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.08),
              rgba(0, 0, 0, 0.08)
            ),
            #ffffff;
        }

        > .name {
          flex: 1;
          display: flex;
          flex-direction: column;
        }

        a[href^="mailto:"] {
          color: #999999;
        }

        &.is-overload {
          background: linear-gradient(
              0deg,
              rgba(255, 0, 0, 0.2),
              rgba(255, 0, 0, 0.2)
            ),
            #ffffff;
          &:hover {
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.02),
                rgba(0, 0, 0, 0.02)
              ),
              linear-gradient(
                0deg,
                rgba(255, 0, 0, 0.2),
                rgba(255, 0, 0, 0.2)
              ),
              #ffffff;
          }
          &:active {
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.04),
                rgba(0, 0, 0, 0.04)
              ),
              linear-gradient(
                0deg,
                rgba(255, 0, 0, 0.2),
                rgba(255, 0, 0, 0.2)
              ),
              #ffffff;
          }
        }
      }

      .no-user {
        font-size: 12px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }