<ng-select [items]="filteredItems" bindLabel="nameEmail" bindValue="id" (change)="onChange($event)" 
(search)="onSearch($event.term)" appendTo="body"
[placeholder]="'manager.add_participants' | transloco">

  <ng-template ng-option-tmp let-item="item">

    <div [ngClass]="{selected: item.selected}" class="item-option">
      <fxt-avatar [imageSrc]="item.image" [initial]="item.name" [size]="40"></fxt-avatar>
      <div class="name">
        <span>{{item.name}}</span>
        <span>{{item.email}}</span>
      </div>
    </div>

  </ng-template>

</ng-select>