<div class="container mt-3 categories">
    <div class="row">
        <div *ngFor="let product of products" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card" role="button" (click)="getProductDetail(product)">
                <img [src]="product.thumbnailImage" class="card-img-top img-fluid" [title]="product.name">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <h5 class="card-title">
                    Price: {{formatPrice(product.price)}}
                  </h5>
                  <h5 class="card-title">
                    Quantity In Stock: <b>{{product.quantityInStock}}</b>
                  </h5>
                </div>
            </div>
        </div>
    </div>
</div>