.map-pin {
  position: relative;
  height: 300px;
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: center;

  .name {
    color: #606771;
  }

  .address {
    color: #606771;
    font-size: 16px;
  }

  .icon {
    float: right !important;
    margin-top: -27px;
  }

  img {
    height: 200px;
    width: 300px;
    margin-bottom: 5px;
    display: block;
  }
}
