<div class="external-offices">
  <div class="title">{{'manager.list_rooms_from_provider' | transloco:{provider: authProviderLabel} }}</div>

  <input class="form-control" type="text" (keyup)="updateFilter($event)" placeholder="{{'main.search' | transloco}}" />

  <ng-container *ngIf="externalOffices; else loader">
    <ng-container *ngIf="externalOffices.length; else nodata">
      <ngx-datatable class="bootstrap striped" [rows]="rows" [columnMode]="ColumnMode.force" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="45" [scrollbarV]="true" [scrollbarH]="false" [loadingIndicator]="loading"
        [limit]="1" [selectionType]="SelectionType.single" (select)="selectOffice($event)">

        <ngx-datatable-column *ngFor="let column of columns" [name]="column.name | transloco" [prop]="column.prop"
          [pipe]="column.pipe" [sortable]="column.sortable" [cellTemplate]="column.cellTemplate"
          [cellClass]="column.cellClass" [headerClass]="column.headerClass">
        </ngx-datatable-column>

      </ngx-datatable>
    </ng-container>

  </ng-container>

  <div class="d-flex align-items-center justify-content-end">
    <button class="btn btn-light mr-2" (click)="close()">{{'main.cancel' | transloco}}</button>
    <button [disabled]="selectedOffice == null" class="btn btn-primary" (click)="linkTo(selectedOffice)">
      {{'main.link' |transloco}}</button>
  </div>
</div>

<ng-template #nodata>
  <div class="nodata p-2">{{'main.no_data_found' | transloco}}</div>
  <div *ngIf="hasNoRightAdmin" class="alert alert-warning">
    {{'manager.extenal_office_no_right_admin' | transloco:{provider: authProviderLabel} }}
  </div>
</ng-template>

<ng-template #loader>
  <div class="loader">
    <fxt-spinner></fxt-spinner>
  </div>
</ng-template>