.external-offices {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  min-height: 100px;
  max-height: 360px;
  overflow-y: auto;

  .title {
    font-weight: bold;
  }

  .loader {
    width: 100%;
    text-align: center;
  }

  .item {
    display: flex;
    flex-direction: column;
    padding: 5px 15px;

    .name {
      font-weight: 700;
    }

    .uniqueId {
      font-size: 14px;
    }

    &:hover {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #ffffff;
    }

    &.selected {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), #ffffff;
    }
  }
}
