<div class="bloc-name">
  <div class="name-wrapper">

    <fxt-location-status [item]="officeLocation" [disableUnconfirmed]="true"></fxt-location-status>

    <span class="name">{{'manager.in_office' | transloco}}&nbsp;<span *ngIf="users">({{nbUsers}})</span></span>
  </div>
  <span class="arrow" (click)="showDetail = !showDetail">
    <i class="fas fa-sort-{{showDetail ? 'down': 'up'}}"></i>
  </span>
</div>

<div [collapse]="!showDetail" [isAnimated]="true">
  <div class="bloc-buildings">
    <fxt-manager-map-card-building *ngFor="let item of buildings; trackBy: trackByFn" [building]="item"
      [selectedDate]="selectedDate" (clicked)="onBuildingClicked($event)">
    </fxt-manager-map-card-building>
  </div>
</div>