<div class="user-profile">
  <div class="image-profile" (clickOutside)="onClickOutside()">
    <div class="avatar-wrapper" [class.c-pointer]="isCurrentUser">
      <fxt-avatar (click)="onClickAvatar()" [imageSrc]="user?.avatar" [initial]="user?.name" [size]="60">
      </fxt-avatar>
      <button class="change-img" (click)="dropdown.isOpen = !dropdown.isOpen">
        <i class="fad fa-camera"></i>
      </button>
      <div dropdown #dropdown="bs-dropdown">
        <div class="dropdown-menu" *dropdownMenu role="menu">
          <div class="dropdown-item px-3" role="button" (click)="dropdown.isOpen = false; uploader.click(); ">
            <span for="file">{{ "profile.upload_image" | transloco }}</span>
            <input hidden #uploader type="file" id="file" (change)="handleInputChange($event)">
          </div>
          <div class="dropdown-item px-3" role="button" (click)="openTakePicture(); dropdown.isOpen = false">{{
            "profile.take_a_photo" | transloco }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="control-action">
    <div class="">
      <div class="mb-1">{{user?.fullName}}</div>
      <div>{{coreTeamsText}}</div>
    </div>
    <div class="actions" *ngIf="!isCurrentUser">
      <span (click)="toggleFavorite()" [class.active]="isInFavoriteTeam" [tooltip]="isInFavoriteTeam ? ('manager.remove_from_your_favorite_list' | transloco)
      : 'manager.add_to_your_favorite_list' | transloco" class="mr-2">
        <i class="fas fa-star"></i>
      </span>
      <a [tooltip]="'user_profile.send_email_to_user' | transloco" href="mailto:{{user?.email}}" class="mr-2"><i
          class="far fa-paper-plane"></i></a>
      <button [disabled]="teamInfos.length === 0" class="btn btn-toggle-menu" [popover]="popTemplate" placement="bottom"
        #pop="bs-popover"><i class="far fa-ellipsis-v"></i></button>
    </div>

  </div>

  <form [formGroup]="profileForm" autocomplete="off" style="margin: 10px 20px">
    <!--UserId-->
    <input type="hidden" class="form-control" formControlName="id" />

    <!--Email-->
    <!-- <div class="form-group">
      <label class="font-weight-bold" for="txtEmail">Email address</label>
      <input type="email" class="form-control" placeholder="name@company.com" formControlName="email"
          [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched}">
        <div *ngIf="f.email.errors && f.email.touched" class="invalid-feedback">
          <div *ngIf="f.email.errors.required; else invalidEmail">
            {{ "main.email_is_required" | transloco }}
          </div>
          <ng-template #invalidEmail>
            {{ "main.email_is_invalid" | transloco }}
          </ng-template>
        </div>
    </div> -->
    
    <!--Name-->
    <div class="form-group">
      <label class="font-weight-bold" for="txtName">Name</label>
      <input id="txtName" class="form-control" placeholder="Name"
        formControlName="name" autocomplete="false"
        [ngClass]="{ 'is-invalid': f.name.errors && f.name.touched}" />

      <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">
          Name is required
        </div>
      </div>
    </div>

    <!--Gender-->
    <div class="form-group">
      <label class="font-weight-bold" for="ddlGender">Gender</label>
      <ng-select formControlName="genderId" appendTo="body" [items]="genders" bindLabel="name" bindValue="id" [clearable]="false"
            [searchable]="false">
      </ng-select>
    </div>

    <!--Phone-->
    <div class="form-group">
      <label class="font-weight-bold" for="txtPhone">Phone</label>
      <input id="txtPhone" class="form-control" placeholder="Phone"
        formControlName="phone" autocomplete="false"
        [ngClass]="{ 'is-invalid': f.phone.errors && f.phone.touched}" />

      <div *ngIf="f.phone.touched && f.phone.errors" class="invalid-feedback">
        <div *ngIf="f.phone.errors.required">
          Phone is required
        </div>
      </div>
    </div>

    <!--Address-->
    <div class="form-group">
      <label class="font-weight-bold" for="txtAddress">Address</label>
      <textarea id="txtAddress" class="form-control" placeholder="Address" rows="2" formControlName="address">
      </textarea>
    </div>
    <div class="form-group">
      <button class="btn  btn-primary float-right" [disabled]="profileForm.invalid" (click)="updateProfile()">
        Save
      </button>
    </div>

  </form>

</div>

<ng-template #popTemplate>
  <div class="user-profile-menu" (clickOutside)="onHostClick($event)">
    <ng-container *ngFor="let item of teamInfos">
      <div (click)="addOrRemoveUser(item)">
        <span *ngIf="item.userAlreadyIn">{{'manager.remove_from' | transloco}}&nbsp;</span>
        <span *ngIf="!item.userAlreadyIn">{{'manager.add_to' | transloco}}&nbsp;</span>
        <strong>{{item.name}}</strong>
      </div>
    </ng-container>
  </div>
</ng-template>