@import "abstracts/variables";
@import "abstracts/mixins";

$yellow-icon: #ffef33;

:host {
  .user-profile {
    display: flex;
    flex-direction: column;

    .image-profile {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      position: relative;

      .avatar-wrapper {
        top: 30px;
        position: absolute;
      }

      button.change-img {
        border: 2px solid white;
        background-color: $color-helper;
        border-radius: 50%;
        position: absolute;
        bottom: -5px;
        left: -2px;
        width: 24px;
        height: 24px;
        z-index: 2;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: white;
          font-size: 13px;
        }
      }

      >img {
        position: absolute;
        top: 50px;

        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 60px;
        max-width: 60px;
        height: 60px;
        min-height: 60px;
        border-radius: 50%;
      }

      .upload-photo {
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .add {
          color: rgba(255, 255, 255, 0.6);
          font-size: 14px;
          border: 1px solid rgba(255, 255, 255, 0.6);
          box-sizing: border-box;
          border-radius: 8px;
          padding: 8px;
          cursor: pointer;

          &:hover {
            opacity: 0.5;
          }
        }
      }

      .upload-photo {
        display: flex;
      }
    }

    .control-action {
      padding: 16px 32px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      // border-top: 1px solid rgba(0, 0, 0, 0.1);
      >div:first-child {
        flex: 1;
        margin-right: 20px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.8);

        >div:last-child {
          color: rgba(0, 0, 0, 0.5);
        }
      }

      .actions {
        display: flex;
        position: relative;

        ::ng-deep popover-container {
          border: 1px solid rgba(0, 0, 0, 0.1);
        }

        .user-profile-menu {
          font-size: 12px;
          color: $color-dark;
          background-color: white;

          >div {
            white-space: nowrap;
            padding: 5px 10px;
            cursor: pointer;
            @include hover-active-btn();
          }
        }

        .btn-toggle-menu {
          background-color: $main-color;
          width: 32px;
          height: 32px;
          border-radius: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }

        >span,
        >a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background-color: $main-color;
          border-radius: 50%;
          cursor: pointer;

          i {
            color: white;
            font-size: 13px;
          }

          &.active {
            i {
              color: $yellow-icon;
            }
          }
        }
      }
    }

    .container-body {
      padding: 8px 16px 16px 16px;
      background-color: $color-white;
      min-height: 100px;

      .tabs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        color: $grey-color40;
        border-bottom: 3px solid transparent;
        column-gap: 8px;

        >div {
          padding: 4px 8px;
          text-align: center;
          cursor: pointer;
          @include hover-active-btn();

          &.active {
            border-bottom: 2px solid $main-color;
          }
        }
      }

      .title-team {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.3);
        font-weight: 500;
        margin-bottom: 4px;
      }
    }
  }
}

@include media-breakpoint-down("small") {
  :host {
    .user-profile {
      .container-body {
        .tabs {
          font-size: 12px;
          margin: auto;
          width: 100%;
          column-gap: normal;
        }
      }
    }
  }
}