@import "abstracts/variables";

#notification-page {
  padding-top: 24px;
  margin-bottom: 35px;

  header {
    h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 42px;
      color: $color-black;
      margin-bottom: 12px;
    }

    .host-changelog-widget {
      margin-bottom: 9px;

      &.hidden {
        display: none;
      }
    }
  }

  .notifications {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  ::ng-deep swiper {
    ::ng-deep .swiper-slide {
      margin-left: 5px !important;
    }

    .swiper-button-disabled {
      opacity: 0 !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: rgba(112, 112, 112, 0.72);
      opacity: 0.1;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }
}
