<section id="signup">
  <button routerLink="/login" class="mt-2 float-left btn"><i class="fas fa-chevron-left"></i></button>
  <h3>
    <img class="logo" [src]="logoImg" alt="" />
  </h3>
  <div class="content">
    <div class="kids text-center mt-4 mb-4">
      <img [src]="img" alt="">
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="name@company.com" formControlName="email"
          [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched}">
        <div *ngIf="f.email.errors && f.email.touched" class="invalid-feedback">
          <div *ngIf="f.email.errors.required; else invalidEmail">
            {{ "main.email_is_required" | transloco }}
          </div>
          <ng-template #invalidEmail>
            {{ "main.email_is_invalid" | transloco }}
          </ng-template>
        </div>
      </div>
      <div class="reset-btn">
        <button [disabled]="form.invalid" class="btn btn-primary w-100 fxt-button" data-toggle="button">{{ "FORGOT_PASSWORD.send_reset_link" |
          transloco }}</button>
      </div>
    </form>

    <div
        *ngIf="error_code !== ''"
        class="alert alert-warning"
        role="alert"
      >
      {{ ("FORGOT_PASSWORD." + error_code) | transloco }}
      <a *ngIf="userId" (click)="resendInvitation()" class="c-pointer">{{'LOGIN.resend_invitation' | transloco}}</a>
    </div>

    <div class="copyright text-center">
      <p>© 2022 Flexteam</p>
    </div>
  </div>
</section>
