.wrapper {

  .message {
    display: flex;
    column-gap: 16px;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;

    .icon {
      padding-top: 5px;

      i {
        font-size: 24px;
        color: #2f80ed;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: right;
  }
}