<ng-container *ngFor="let day of days; let dayIndex = index;let first = first; let last = last">
  <div class="bloc-day">
    <div class="header" [class.first]="first" [class.last]="last">
      <span *ngIf="first" class="left-arrow btn-rounded-action" (click)="prev()"><i
          class="fas fa-chevron-left"></i></span>
      <span class="day">{{day}}</span>
      <span *ngIf="last" class="right-arrow btn-rounded-action" (click)="next()"><i
          class="fas fa-chevron-right"></i></span>
    </div>
    <div class="body">
      <div class="chips">
        <ng-container *ngIf="!loading">
          <ng-container *ngFor="let ruleItem of occupationRules[dayIndex]">
            <fxt-chip *ngFor="let item of ruleItem.items" [item]="item" [hideIcon]="true" [removable]="true"
              [class.is-blocked]="item.occupationType == OccupationTypeEnum.Block"
              [class.is-reserved]="item.occupationType == OccupationTypeEnum.Reserve" [popover]="popTemplate"
              placement="right" (onCrossClick)="pop.toggle()" container="body"
              triggers="" [outsideClick]="true"
              [popoverContext]="{item: item, ruleItem: ruleItem, dayIndex: dayIndex, popRef: pop}" #pop="bs-popover">
            </fxt-chip>
          </ng-container>
        </ng-container>
      </div>
      <div class="actions">
        <span class="btn-rounded-action btn-add" (click)="showModalAddOccupationRule(dayIndex, null, null)">
          <i class="far fa-plus"></i>
        </span>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loader>
  <fxt-placeholder-loading [height]="32"></fxt-placeholder-loading>
</ng-template>

<ng-template #popTemplate let-item="item" let-ruleItem="ruleItem" let-dayIndex="dayIndex"
let-popRef="popRef">
  <div class="popover-actions">
    <span (click)="removeOnlyOccurrence(dayIndex, ruleItem, item); popRef.hide()">{{'manager.remove_only_this_occurrence' | transloco}}</span>
    <span (click)="editSerie(dayIndex, ruleItem, item); popRef.hide()">{{'manager.edit_the_serie' | transloco}}</span>
  </div>
</ng-template>