@import "abstracts/variables";

$right-sidebar-width: 300px;

$distance-between-block: 16px;
$offset-ajust: 9px;

$height-filters: 170px;
$height-headers: 64px;
$height-summary: 150px;

.middle-content {
  // flex-grow: 2;
  width: calc(100% - 15px);

  padding-top: $distance-between-block;
  padding-bottom: $distance-between-block;

  .headers {
    border-radius: 0px 16px 0px 0px;
    background-color: #fff;
    padding: 1.2rem 65px 1.2rem 32px;
    height: $height-headers;
    width: 100%;
    margin-top: $distance-between-block;
    display: flex;
    align-items: center;
    justify-content: space-between;

    column-gap: 15px;

    span.head {
      font-size: 14px;
      min-width: 100px;
      text-align: center;

      &.head-team {
        font-weight: bold;
        min-width: 150px;
      }

      &.head-name {
        font-weight: bold;
        flex-grow: 2;
        text-align: left;
        padding-left: 111px;
      }

      &.head-day {
        text-align: center;
        text-transform: capitalize;
        padding-left: 24px;
        &.today {
          font-weight: bold;
        }
        &.action {
          min-width: 40px;
          justify-content: flex-end;
        }
      }
    }
  }
}

.data {
  margin-top: 0.25rem;

  height: calc(
    100vh - #{$height-filters + $height-headers + $height-summary + 3 * $distance-between-block - $offset-ajust}
  );
  overflow-y: scroll;
  overflow-x: hidden;

  .loader {
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep fxt-manager-user-row {
    &:first-child {
      .manager-user-row {
        border-bottom: 4px solid rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.summary {
  height: $height-summary;
}

.messages {
  padding-top: $distance-between-block;
  width: $right-sidebar-width;
  max-width: $right-sidebar-width;
  background-color: $page-content-bg-color;
}
