@import 'abstracts/variables';

:host {
    .block-developers {
        .status {
            width: 216px;
            height: 30px;
            margin-top: 0.2rem;

            .btn {
                font-size: 12px;
                padding: 0.36rem 1.05rem;
                background-color: #fff;
                border: none;
                color: #aaa;
            }

            button.resolved {
                color: #000;
                background-color: rgba(0, 0, 0, 0.08);
            }
        }
    }
}
