/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family:"Futura-LT-W01-Light";
    src:url("./assets/font/user-site-fonts/font_1.eot");
    src:url("./assets/font/user-site-fonts/font_2.eot") format("eot"),
        url("./assets/font/user-site-fonts/font_3.woff2") format("woff2"),
        url("./assets/font/user-site-fonts/font_4.woff") format("woff"),
        url("./assets/font/user-site-fonts/font_5.ttf") format("truetype"),
        url("http://static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/14d6bf5d-15f1-4794-b18e-c03fb9a5187e.svg#14d6bf5d-15f1-4794-b18e-c03fb9a5187e") format("svg");
    font-display: block;
}

.clearfix {
    clear: both;
}

.modal-header button.close {
    border: transparent !important;
    outline-style: none !important;
}

/* .container {
    min-height: calc(100vh - 99px - 24px);
} */

.my-overlay {
    left: 0 !important;
    top: 0 !important;
    z-index: 10000 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgba(0,0,0,0.3) !important;
    visibility: visible !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait !important;
}

.my-overlay i.fa.fa-spinner.fa-spin {
    font-size:50px;
    color: rgba(230, 47, 13, 0.85);
}