<div class="item d-flex justify-content-between btn clicked" data-toggle="button" aria-pressed="false"
  autocomplete="off" (click)="onCardClicked(user, $event)" [class.not-onboarded]="!user.isOnboarded"
  [tooltip]="'manager.on_boarding_not_done_tooltip' | transloco" [isDisabled]="user.isOnboarded">

  <fxt-avatar class="c-pointer mr-3" [imageSrc]="user.id === currentUser?.id ? currentUser.tinyPicture: user.tinyPicture" [initial]="user.fullName" [size]="64"></fxt-avatar>

  <span class="title mr-4">
    <span class="name">{{user.isOnboarded ? user.fullName : user.email}}</span>
    <span class="manager">
      <span *ngIf="user.isOnboarded">{{user.coreTeamName}}</span>
      <span *ngIf="!user.isOnboarded">{{ 'manager.on_boarding_not_done' | transloco }}</span>
      <i *ngIf="isChief" class="fas fa-crown"></i>
    </span>
  </span>
  <span [style.visibility]="disableRemove ? 'hidden': 'visible'" class="remove-user d-inline-block"
    (click)="onRemoveClick($event)"><i class="far fa-user-minus"></i></span>
</div>