.item {
  width: 295px;
  height: 88px;
  padding: 0.6rem 0.8rem;
  box-shadow: 1px 3px 8px #ddd;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 1rem;

  &.not-onboarded {
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)), #FFFFFF;
    span.title {
      span.name {
        max-width: 110px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  &.clicked.active {
    background-color: rgba(0, 0, 0, 0.12);
  }

  /* cards style  */
  .btn {
    border: none;
    text-align: left;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  /* cards styles */
  img {
    width: 72px;
    height: 72px;
    vertical-align: baseline;
  }
  span.remove-user {
    color: rgba(0, 0, 0, 0.48);
  }
  span.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    span.manager {
      color: rgba(0, 0, 0, 0.64);
      i {
        color: rgba(0, 0, 0, 0.48);
        margin-left: 0.2rem;
        font-size: 13.33px;
      }
    }
  }
}

@media (max-width: 1439px) {
  .item {
    width: 258px;
    height: 80px;
    padding: 0.6rem 0.8rem;
    img {
      width: 64px;
      height: 64px;
    }
    span.title {
      font-size: 14px;
    }
  }
}
