@import "../../../manager-office-common";

$padding: 16px;

div.floor {
  width: 450px;
  @include borderRadius(8px);

  form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  div.map {
    height: 250px;
  }

  .bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;

    input[type="text"],
    input[type="number"] {
      flex: 1;
      text-align: right;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 0;
      padding-right: 0;

      &:focus {
        box-shadow: none;
        border-color: transparent;
      }
    }

    input[type="number"] {
      max-width: 60px !important;
    }

    &-actions {
      display: flex;
      border-bottom: none;
      column-gap: 8px;
      padding: 0;
      button {
        flex: 1;
      }
    }
  }
}
