<div class="manager-card-user info px-2 py-2 mb-3">
  <div class="row justify-content-around">
    <div class="item mr-2">
      <span class="image">
        <img
          [src]="profileImage"
          class="rounded-circle mr-2"
          width="32"
          alt=""
        />
        <span class="name d-inline-block"
          >Beth Davis<br /><span class="title">Developer</span></span
        >
      </span>
    </div>
    <div class="item">
      <span class="time d-inline-block"
        ><span class="icon mr-1"><i class="fas fa-clock"></i></span>3 hours
        ago</span
      >
    </div>
  </div>
  <div class="row justify-content-around mb-1">
    <div class="late-change mt-1">
      <p>Late change</p>
    </div>
    <div class="date">
      <p>
        18 nov <span class="home"><i class="fas fa-home"></i></span>
      </p>
    </div>
  </div>
  <hr />
  <div class="intro">
    <p>
      Hello, Jeanne! I got last minute in-person meeting with a client. Is that
      ok if I’ll be in office on thursday? Thanks a lot.
    </p>
    <div class="row justify-content-around mt-1">
      <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
      <span class="marks">
        <span class="wrong"><i class="fas fa-times-circle"></i></span>
        <span class="right"><i class="fas fa-check-circle"></i></span>
      </span>
    </div>
  </div>
</div>
