<div class="form-group" *ngIf="searchable">
  <input type="text" class="form-control" placeholder="Search icons..." [ngModel]="searchTerm"
    (ngModelChange)="onChange($event)">
</div>
<div class="icon-wrapper mt-1">
  <ng-container *ngFor="let item of filteredIcons">
    <span (click)="changeIcon(item)" [title]="item" [style.color]="item == icon ? color : ''">
      <i class="fas fa-{{item}}"></i>
    </span>
  </ng-container>
</div>

<hr/>

<div class="form-group mt-2 mb-1">
  <div class="color-wrapper">
    <span [class.selected]="color == option" title="{{option}}" (click)="changeColor(option)"
      *ngFor="let option of availableColors" [style.background-color]="option">
    </span>
  </div>
</div>