@import "abstracts/variables";
@import "abstracts/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.bloc {
  &-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
    height: 40px;

    span.tab {
      border-radius: 8px;
      color: $grey-color50;
      height: 32px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      flex: 1;

      @include hover-active-btn;

      &.active {
        &.reserve {
          background-color: rgba(2, 156, 85, 0.6);
          color: $color-white;
        }

        &.block {
          background-color: rgba(200, 28, 28, 0.2);
          color: $color-capacity;
        }
      }
    }
  }

  &-rules {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    .rule-line {
      height: 24px;
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  height: 40px;

  button {
    flex: 1;
  }
}

.bloc-teams {
  display: flex;
  flex-direction: row;
  column-gap: 8px;

  ::ng-deep fxt-search-bar {
    width: 500px;

    .suggestions {
      max-height: 200px !important;
    }
  }

  &.is-blocked {
    ::ng-deep fxt-chip {
      .fxt-chip {
        background-color: rgba(200, 28, 28, 0.2);
        color: $color-capacity;

        &:hover {
          background-color: rgba(200, 28, 28, 0.2) !important;
        }
      }
    }
  }

  &.is-reserved {
    ::ng-deep fxt-chip {
      .fxt-chip {
        background-color: rgba(2, 156, 85, 0.6);
        color: $color-white;

        &:hover {
          background-color: rgba(2, 156, 85, 0.6) !important;
        }
      }
    }
  }
}

.bloc-chips {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  overflow-y: auto;
  max-height: 300px;
}

.bloc-rules {
  .radio-container {
    display: flex;
    align-items: center;
    position: relative;
    column-gap: 8px;

    input[type="number"] {
      width: 40px;
      padding: 0;
      display: inline-block;
      height: 40px;
      border: none;
      text-align: center;
      font-weight: bold;
    }

    input[type="radio"] {
      z-index: 2;
    }

    .radiobtn {
      position: relative;
      top: 0;
    }
  }

  &.is-blocked {
    .fxt-radio-group {
      .radio-container .radiobtn::after {
        background-color: $color-capacity  !important;
      }
    }
  }
}