<form [formGroup]="form">

  <div class="wrapper">
    <div class="title">{{'main.occupation_rule' | transloco}}</div>

    <div class="bloc bloc-tabs">
      <span class="tab reserve" [class.active]="selectedType == OccupationTypeEnum.Reserve"
        (click)="selectTab(OccupationTypeEnum.Reserve)">{{'main.reserve' |
        transloco}}</span>
      <span class="tab block" [class.active]="selectedType == OccupationTypeEnum.Block"
        (click)="selectTab(OccupationTypeEnum.Block)">{{'main.block' |
        transloco}}</span>
    </div>

    <div class="bloc bloc-teams" [class.is-reserved]="selectedType == OccupationTypeEnum.Reserve"
      [class.is-blocked]="selectedType == OccupationTypeEnum.Block">
      <span class="pt-1"><i class="far fa-user"></i></span>
      <fxt-search-bar [disableQuickplayPicker]="true" [disableAllCompany]="true" [tags]="this.currentSelection.items"
        (selectionChanged)="onSelectionChanged($event)"></fxt-search-bar>
    </div>

    <div class="bloc-chips">
      <ng-container *ngFor="let item of currentSelection.items">
        <fxt-chip [item]="item" image="{{item.image}}" [removable]="true" (onCrossClick)="deleteFromList(item)">
        </fxt-chip>
      </ng-container>
    </div>

    <div class="bloc bloc-date">
      <span class="c-pointer" bsDatepicker #d="bsDatepicker" placement="bottom" [bsConfig]="bsConfig"
        (bsValueChange)="onBsValueChange($event)" [bsValue]="selectedDate">
        <i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;{{periodText}}
      </span>
    </div>

    <div class="bloc bloc-rules" [class.is-blocked]="selectedType == OccupationTypeEnum.Block">
      <div class="fxt-radio-group">
        <ng-container *ngFor="let option of rules">
          <div class="radio-container">
            <input type="radio" name="radio" [checked]="option.value == selectedRecurrence"
              (change)="onRecurrenceChanged($event,option.value)">
            <span class="radiobtn"></span>

            <span *ngIf="option.value == OccupationRecurrenceEnum.Once">{{option.name}}</span>
            <span *ngIf="option.value == OccupationRecurrenceEnum.EveryWeekDayForWeeks">
              {{'main.every' | transloco}} {{dayName}} {{'main.for' | transloco}}
              <input class="form-control" type="number" formControlName="numberWeeks" />&nbsp;{{'main.weeks' |
              transloco}}
            </span>
            <span *ngIf="option.value == OccupationRecurrenceEnum.EveryDayForWeeks">
              {{'main.everyday' | transloco}} {{'main.for' | transloco}}
              <input class="form-control" type="number" formControlName="numberWeeks" />&nbsp;{{'main.weeks' |
              transloco}}
            </span>

          </div>
        </ng-container>
      </div>

    </div>

    <div class="actions">
      <button type="button" class="btn btn-light" (click)="cancel()">{{'main.cancel' | transloco}}</button>
      <button type="button" [disabled]="form.pristine || form.invalid" class="btn btn-primary"
        (click)="saveChanges()">{{'main.save_changes' |
        transloco}}</button>
      <span class="btn-rounded-action" *ngIf="model?.id" (click)="tryDelete()"><i class="far fa-trash-alt"></i></span>
    </div>

  </div>
</form>