:host {
  width: 100%;
  full-calendar {
    height: 100%;
    width: 100%;
  }
}

::ng-deep {
  .fc-day-today {
    background: #fff !important;
  }
  .fc-v-event {
    background-color: #e1e1e1 !important;
    border: 2px dashed #868686 !important;
  }
  .fc .fc-highlight {
    background-color: #ccebdd !important;
    border: 2px dashed #7bcba7 !important;
  }
  .fc-v-event .fc-event-main {
    color: #373737 !important;
    cursor: pointer;
  }
  .fc-theme-standard .fc-scrollgrid {
    border: none !important;
  }

}
