@import "abstracts/variables";
@import "abstracts/mixins";

@mixin span() {
  color: rgba(148, 175, 138, 1);
  padding: 0;
  font-size: 8px;
  border: none;
}

input:focus {
  box-shadow: none !important;
}
.p-relative {
  position: relative;
}
section.register {
  max-width: 375px;
  background-color: #fff;
  margin: 0 auto;
  padding: 48px 40px 32px 40px;
  .logo {
    width: 160px;
  }
  h3 {
    display: flex;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    justify-content: center;
  }
  div.content {
    max-width: 295px;
    div.kids {
      img {
        width: 90%;
      }
      div.slide {
        display: flex;
        column-gap: 24px;
        justify-content: center;
        font-size: 8px;
        span.first {
          @include span();
          color: rgba(226, 226, 226, 1);
        }
        span.sec {
          @include span();
        }
      }
    }
    form {
      margin-bottom: 32px;
      .form-control {
        height: 29px;
        border: none;
        border-bottom: 1px solid $grey-color16;
        padding: 0;
        padding-bottom: 10px;
      }
      ::placeholder {
        font-size: 14px;
        font-weight: 400 !important;
        color: $grey-color40;
      }
      div.show-pass {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
        cursor: pointer;
        span {
          color: $grey-color32;
          padding: 0;
          display: inline-block;
        }
        span.eye-open {
          display: none;
        }
        &.active {
          span.eye-closed {
            display: none;
          }
          span.eye-open {
            display: inline-block;
          }
        }
      }
      a.resendinv {
        justify-content: center;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 400 !important;
        text-decoration: none;
        color: rgba(128, 117, 234, 1);

        &:hover {
          color: #0056b3;
        }
      }
    }
    div.info {
      p {
        font-size: 14px;
        font-weight: 400 !important;
        color: $grey-color48;
        margin-bottom: 24px;
        a {
          text-decoration: none;
          color: rgba(128, 117, 234, 1);
          &:hover {
            color: #0056b3;
          }
        }
      }
      div.icons {
        display: flex;
        flex-direction: row;
        column-gap: 48px;
        justify-content: center;
        a {
          font-size: 20px;
          color: $grey-color64;
        }
      }
    }
    div.copyright {
      position: fixed;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      p {
        font-size: 12px;
        font-weight: 400 !important;
        color: $grey-color40;
        margin-bottom: 0;
      }
    }
  }
}

.container.user-profile {
  background-image: url("../../assets/images/top-short.svg");
  margin-top: 30px;
  padding: 15px;
  border-radius: 20px;
}
