@import 'abstracts/variables';
@import 'abstracts/mixins';

$distance_section: 38px;

#plan {
  padding-top: 50px;
  padding-bottom: 15px;

  header {
    display: flex;
    align-items: center;
    padding-bottom: $distance_section;

    .toggle-wrapper {
      position: relative;

      button.btn-question-icon {
        top: -10px;
        left: 8px;
      }
    }

    .month-year {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin-bottom: 0;
      }
    }

    .col-5 {
      display: flex;
      justify-content: flex-end;
    }
  }

  main {
    .main-footer {
      margin-top: $distance_section;

      .bloc-chips {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
        padding: 13px 18px;
      }
    }
  }
}

@include media-breakpoint-up("small") {
  @include responsive-gt-small-screen-circle-day();
}