div.integration-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  .integration {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .name-one {
      flex: 1 1 100%;
      font-size: 15px;
    }
    .icons {
      display: inline-flex;
    }
  }
  .date-format {
    width: 150px;
    display: inline-block;
    margin-left: 16px;
  }
}

.input-form-control {
  width: 50px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding-left: 5px;
}

.btn-check {
  margin-left: 5px;
  cursor: pointer;
}
.fxt-switch-design-margin {
  margin-top: 10px;
  margin-left: 10px;
}