<div class="data">
  <div class="tools">
    <div class="integration-container">
      <div class="integration">
        <div class="name">
          <span class="icon btn"><i class="far fa-solid fa-calendar-check"></i></span>
          <span class="name">
            {{ "organization.allow_booking" | transloco }}
          </span>
          <div class="ml-1 d-inline-block" [tooltip]="'organization.limit_booking_description' | transloco"
            placement="right">
            <i class="fas fa-info-circle"></i>
          </div>
        </div>
      </div>
      <div class="name icons">
        <span class="name">
          {{ "organization.limit_booking_with_one" | transloco }}
          <input [ngModel]="limitBookingInFuture" (ngModelChange)="changeLimitBooking($event)" type="number" min="1"
            class="input-form-control" (keyup.enter)="onUpdateConfiguration()" />
          <span class="btn-check" (click)="onUpdateConfiguration()" *ngIf="doEditConfig"><i
              class="fas fa-check"></i></span>
          {{ "organization.limit_booking_with_two" | transloco }}
        </span>
      </div>
      <div class="integration">
        <div class="name-one">
          <span class="name-one">
            <input type="checkbox" [ngModel]="floatingReservations"
              (ngModelChange)="onFloatingReservationsChange($event)" (change)="onUpdateFloatingReservations()"
              class="mr-2" />
            <label for="">{{
              "organization.allow_office_over_booking" | transloco
              }}</label>
            <div class="ml-1 d-inline-block" [tooltip]="
                'organization.allow_office_over_booking_tooltip' | transloco
              " placement="right">
              <i class="fas fa-info-circle"></i>
            </div>
          </span>
        </div>
      </div>

      <ng-container *ngFor="let option of options">
        <div class="integration d-flex">
          <label for="">{{ option.name | transloco }}</label>
          <fxt-switch [(ngModel)]="option.isActive" (ngModelChange)="changeActive(option, $event)"
            class="fxt-switch-design-margin">
          </fxt-switch>
        </div>
      </ng-container>

      <div class="name icons">
        <span class="name">
          {{ "organization.date_format" | transloco }}
        </span>

        <ng-select [items]="availableFormatDates" [clearable]="false" class="date-format"
          [searchable]="false" [ngModel]="formatDate" (ngModelChange)="changeFormatDate($event)">
        </ng-select>

      </div>

    </div>
    <div>

    </div>
  </div>
</div>